<section class="expertise">
  <div class="circle"></div>
  <div class="container">
    <h1>
      Tickfind
    </h1>
    <p>Lectus risus sed orci, at at mauris venenatis faucibus massa. Velit eu viverra est ridiculus pellentesque sem pellentesque commodo eget.</p>
    <div class="expertise__buttons">
      <button class="green-btn">Estimate your project</button>
    </div>
  </div>
  <div class="exp-image">
    <img src="/assets/images/case1.gif" alt="">
  </div>
</section>
<app-three-columned-block [title]="'The challenge and problems'" [threeData]="threeData"></app-three-columned-block>
<app-triangles-block [title]="'Targets'"></app-triangles-block>
<section class="expertise-section">
  <div class="projects__heading">
    <h2>Expertise</h2>
  </div>
  <div class="expertise-section__block">
    <div class="expertise-section__variants">
      <div class="expertise-section__variants_single active">
        Business intelligence
        <svg width="21" height="18" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M11.8826 18.0001L21 8.96124L18.7402 6.72092L18.7401 6.72102L11.9607 0L9.68137 2.25971L14.7658 7.30034L0.0138264 7.36334L0 10.5454L14.9469 10.4815L9.62286 15.7598L11.8826 18.0001Z" fill="#4545FB"/>
        </svg>
      </div>
      <div class="expertise-section__variants_single">
        Software & Hi-Tech
        <svg width="21" height="18" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M11.8826 18.0001L21 8.96124L18.7402 6.72092L18.7401 6.72102L11.9607 0L9.68137 2.25971L14.7658 7.30034L0.0138264 7.36334L0 10.5454L14.9469 10.4815L9.62286 15.7598L11.8826 18.0001Z" fill="#4545FB"/>
        </svg>
      </div>
      <div class="expertise-section__variants_single">
        Product Engineering
        <svg width="21" height="18" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M11.8826 18.0001L21 8.96124L18.7402 6.72092L18.7401 6.72102L11.9607 0L9.68137 2.25971L14.7658 7.30034L0.0138264 7.36334L0 10.5454L14.9469 10.4815L9.62286 15.7598L11.8826 18.0001Z" fill="#4545FB"/>
        </svg>
      </div>
      <div class="expertise-section__variants_single">
        Internet of Things
        <svg width="21" height="18" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M11.8826 18.0001L21 8.96124L18.7402 6.72092L18.7401 6.72102L11.9607 0L9.68137 2.25971L14.7658 7.30034L0.0138264 7.36334L0 10.5454L14.9469 10.4815L9.62286 15.7598L11.8826 18.0001Z" fill="#4545FB"/>
        </svg>
      </div>
      <div class="expertise-section__variants_single">
        Big data and AI
        <svg width="21" height="18" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M11.8826 18.0001L21 8.96124L18.7402 6.72092L18.7401 6.72102L11.9607 0L9.68137 2.25971L14.7658 7.30034L0.0138264 7.36334L0 10.5454L14.9469 10.4815L9.62286 15.7598L11.8826 18.0001Z" fill="#4545FB"/>
        </svg>
      </div>
    </div>
    <div class="expertise-section__description">
      <p>Technology opens new doors to customer intimacy, product innovation, and revenue streams. Yet with all the promise of new technologies and their applications, without proper management, technology is just another source of overhead.</p>
      <div class="expertise-section__description_links">
        <a class="link" >Software Development<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M16 3.22789L16 12.9108H12.8L12.8 5.37167L2.26274 16.0001L0 13.7178L10.3999 3.22789L3.2 3.22789L3.2 0.000195805L12.8 0.000196652V0H16L16 0.000196934V3.22789Z" fill="#00CAA7"/>
        </svg>
        </a>
        <a class="link" >Software Testing<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M16 3.22789L16 12.9108H12.8L12.8 5.37167L2.26274 16.0001L0 13.7178L10.3999 3.22789L3.2 3.22789L3.2 0.000195805L12.8 0.000196652V0H16L16 0.000196934V3.22789Z" fill="#00CAA7"/>
        </svg>
        </a>
        <a class="link" >Business Analysis<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M16 3.22789L16 12.9108H12.8L12.8 5.37167L2.26274 16.0001L0 13.7178L10.3999 3.22789L3.2 3.22789L3.2 0.000195805L12.8 0.000196652V0H16L16 0.000196934V3.22789Z" fill="#00CAA7"/>
        </svg>
        </a>
        <a class="link" >Solution Architecture<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M16 3.22789L16 12.9108H12.8L12.8 5.37167L2.26274 16.0001L0 13.7178L10.3999 3.22789L3.2 3.22789L3.2 0.000195805L12.8 0.000196652V0H16L16 0.000196934V3.22789Z" fill="#00CAA7"/>
        </svg>
        </a>
        <a class="link" >Operations Support<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M16 3.22789L16 12.9108H12.8L12.8 5.37167L2.26274 16.0001L0 13.7178L10.3999 3.22789L3.2 3.22789L3.2 0.000195805L12.8 0.000196652V0H16L16 0.000196934V3.22789Z" fill="#00CAA7"/>
        </svg>
        </a>
        <a class="link" >Product Management<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M16 3.22789L16 12.9108H12.8L12.8 5.37167L2.26274 16.0001L0 13.7178L10.3999 3.22789L3.2 3.22789L3.2 0.000195805L12.8 0.000196652V0H16L16 0.000196934V3.22789Z" fill="#00CAA7"/>
        </svg>
        </a>
      </div>
    </div>
  </div>
</section>
<app-tabs-block></app-tabs-block>
<app-three-columned-block [title]="'Expected result'" [threeData]="threeData"></app-three-columned-block>
<app-case-result></app-case-result>
<app-cases [title]="'Other cases'"></app-cases>

