<section class="expertise">
  <div class="circle"></div>
  <div class="container">
    <h1>
      Tickfind
    </h1>
    <p>Lectus risus sed orci, at at mauris venenatis faucibus massa. Velit eu viverra est ridiculus pellentesque sem pellentesque commodo eget.</p>
    <div class="expertise__buttons">
      <button class="green-btn">Estimate your project</button>
    </div>
  </div>
  <div class="exp-image">
    <img src="/assets/images/case1.gif" alt="">
  </div>
</section>
<app-three-columned-block [title]="'The challenge and problems'" [threeData]="threeData"></app-three-columned-block>
<app-triangles-block [title]="'Targets'"></app-triangles-block>
<app-expertise [header]="'Functionality'"></app-expertise>
<app-tabs-block [heading]="'Stack'"></app-tabs-block>
<app-three-columned-block [title]="'Expected result'" [threeData]="threeData"></app-three-columned-block>
<app-case-result></app-case-result>
<app-cases [title]="'Other cases'"></app-cases>

