<section class="blog">
  <div class="blog__tabs scrollbar">
    <div class="blog__tabs_heading">
      <div class="blog__tabs_wrap">
        <span class="blog__tabs_heading_single active">Latest</span>
        <span class="blog__tabs_heading_single">Retail & Distribution</span>
        <span class="blog__tabs_heading_single">Big data and AI</span>
        <span class="blog__tabs_heading_single">Design</span>
        <span class="blog__tabs_heading_single">Android</span>
        <span class="blog__tabs_heading_single">iOs</span>
        <span class="blog__tabs_heading_single">AI</span>
        <span class="blog__tabs_heading_single">Finance</span>
        <span class="blog__tabs_heading_single">TRAVEL & HOSPITALITY</span>
        <span class="blog__tabs_heading_single">SOFTWARE & HI-TECH</span>
        <span class="blog__tabs_heading_single">BLOCKCHAIN TECHNOLOGIES</span>
        <span class="blog__tabs_heading_single">INSURANCE</span>
        <span class="blog__tabs_heading_single">INTERNET OF THINGS</span>
      </div>
    </div>
    <div class="line">
<!--      <div class="line__fill" id="line__fill"></div>-->
    </div>
  </div>
</section>
<app-blog-section [mainArticle]="true"></app-blog-section>
<app-pagination></app-pagination>
