<app-heading
  [title]="'Read '"
  [hashtag]="'#allatrack_news'"
  [backgroundColor]="'#ffffff'"
  [containerPadding]="'0'"
  [needSocial]="false"
  [needCircle]="false"
  [hasContactButton]="false"
  [hasSocial]="false"
  [alignLeft]="true"
></app-heading>
<section class="blog">
  <div class="blog__tabs scrollbar">
    <div class="blog__tabs_heading">
      <div class="blog__tabs_wrap">
        <span class="blog__tabs_heading_single" *ngFor="let tab of tabs; let i = index" (click)="setActive(i)" id="tab-{{i}}">{{tab}}</span>
      </div>
    </div>
    <div class="line">
<!--      <div class="line__fill" id="line__fill"></div>-->
    </div>
  </div>
</section>
<app-blog-section [mainArticle]="true"></app-blog-section>
<app-pagination></app-pagination>
