<section class="careers">
  <div class="careers__tabs">
    <div class="careers__wrapper">
      <div class="careers__heading">
        <div class="careers__heading_wrap">
          <span class="careers__heading_single" (click)="changeTab('all')" [ngClass]="{'active': all}">All</span>
          <span class="careers__heading_single" (click)="changeTab('back')" [ngClass]="{'active': back}">Back end</span>
          <span class="careers__heading_single" (click)="changeTab('front')" [ngClass]="{'active': front}">Front end</span>
          <span class="careers__heading_single" (click)="changeTab('designer')" [ngClass]="{'active': designer}">Designer</span>
          <span class="careers__heading_single" (click)="changeTab('devops')" [ngClass]="{'active': devops}">Devops</span>
          <span class="careers__heading_single" (click)="changeTab('management')" [ngClass]="{'active': management}">Management</span>
          <span class="careers__heading_single" (click)="changeTab('marketing')" [ngClass]="{'active': marketing}">Marketing</span>
          <span class="careers__heading_single" (click)="changeTab('business')" [ngClass]="{'active': business}">Business</span>
        </div>
        <div class="careers__heading_select">
          <select name="" id="">
            <option value="0">Full time</option>
            <option value="1">Part time</option>
          </select>
      </div>
      </div>
      <div class="line">
        <div class="line__fill" id="line__fill"></div>
      </div>
    </div>
  </div>
  <div class="careers__content" *ngIf="all">
    <div class="careers__content_single">
      <div class="circle"></div>
      <div class="careers__content_single-descr">
        <span>Senior Ruby Developer</span>
        <div class="careers__content_single-descr--tags">
          <div class="tag">Full time</div>
          <div class="tag">Back end</div>
        </div>
      </div>
      <div class="green-btn">Apply</div>
    </div>
    <div class="careers__content_single">
      <div class="circle"></div>
      <div class="careers__content_single-descr">
        <span>Senior Ruby Developer</span>
        <div class="careers__content_single-descr--tags">
          <div class="tag">Full time</div>
          <div class="tag">Back end</div>
        </div>
      </div>
      <div class="green-btn">Apply</div>
    </div>
    <div class="careers__content_single">
      <div class="circle"></div>
      <div class="careers__content_single-descr">
        <span>Senior Ruby Developer</span>
        <div class="careers__content_single-descr--tags">
          <div class="tag">Full time</div>
          <div class="tag">Back end</div>
        </div>
      </div>
      <div class="green-btn">Apply</div>
    </div>
    <div class="careers__content_single">
      <div class="circle"></div>
      <div class="careers__content_single-descr">
        <span>Senior Ruby Developer</span>
        <div class="careers__content_single-descr--tags">
          <div class="tag">Full time</div>
          <div class="tag">Back end</div>
        </div>
      </div>
      <div class="green-btn">Apply</div>
    </div>
  </div>
  <div class="careers__content" *ngIf="back">
    <div class="careers__content_single">
      <div class="circle"></div>
      <div class="careers__content_single-descr">
        <span>Senior Ruby Developer</span>
        <div class="careers__content_single-descr--tags">
          <div class="tag">Full time</div>
          <div class="tag">Back end</div>
        </div>
      </div>
      <div class="green-btn">Apply</div>
    </div>
    <div class="careers__content_single">
      <div class="circle"></div>
      <div class="careers__content_single-descr">
        <span>Senior Ruby Developer</span>
        <div class="careers__content_single-descr--tags">
          <div class="tag">Full time</div>
          <div class="tag">Back end</div>
        </div>
      </div>
      <div class="green-btn">Apply</div>
    </div>
    <div class="careers__content_single">
      <div class="circle"></div>
      <div class="careers__content_single-descr">
        <span>Senior Ruby Developer</span>
        <div class="careers__content_single-descr--tags">
          <div class="tag">Full time</div>
          <div class="tag">Back end</div>
        </div>
      </div>
      <div class="green-btn">Apply</div>
    </div>
    <div class="careers__content_single">
      <div class="circle"></div>
      <div class="careers__content_single-descr">
        <span>Senior Ruby Developer</span>
        <div class="careers__content_single-descr--tags">
          <div class="tag">Full time</div>
          <div class="tag">Back end</div>
        </div>
      </div>
      <div class="green-btn">Apply</div>
    </div>
    <div class="careers__content_single">
      <div class="circle"></div>
      <div class="careers__content_single-descr">
        <span>Senior Ruby Developer</span>
        <div class="careers__content_single-descr--tags">
          <div class="tag">Full time</div>
          <div class="tag">Back end</div>
        </div>
      </div>
      <div class="green-btn">Apply</div>
    </div>
    <div class="careers__content_single">
      <div class="circle"></div>
      <div class="careers__content_single-descr">
        <span>Senior Ruby Developer</span>
        <div class="careers__content_single-descr--tags">
          <div class="tag">Full time</div>
          <div class="tag">Back end</div>
        </div>
      </div>
      <div class="green-btn">Apply</div>
    </div>
    <div class="careers__content_single">
      <div class="circle"></div>
      <div class="careers__content_single-descr">
        <span>Senior Ruby Developer</span>
        <div class="careers__content_single-descr--tags">
          <div class="tag">Full time</div>
          <div class="tag">Back end</div>
        </div>
      </div>
      <div class="green-btn">Apply</div>
    </div>
    <div class="careers__content_single">
      <div class="circle"></div>
      <div class="careers__content_single-descr">
        <span>Senior Ruby Developer</span>
        <div class="careers__content_single-descr--tags">
          <div class="tag">Full time</div>
          <div class="tag">Back end</div>
        </div>
      </div>
      <div class="green-btn">Apply</div>
    </div>
  </div>
  <div class="careers__content" *ngIf="front">
    <div class="careers__content_single">
      <div class="circle"></div>
      <div class="careers__content_single-descr">
        <span>Senior Ruby Developer</span>
        <div class="careers__content_single-descr--tags">
          <div class="tag">Full time</div>
          <div class="tag">Back end</div>
        </div>
      </div>
      <div class="green-btn">Apply</div>
    </div>
    <div class="careers__content_single">
      <div class="circle"></div>
      <div class="careers__content_single-descr">
        <span>Senior Ruby Developer</span>
        <div class="careers__content_single-descr--tags">
          <div class="tag">Full time</div>
          <div class="tag">Back end</div>
        </div>
      </div>
      <div class="green-btn">Apply</div>
    </div>
    <div class="careers__content_single">
      <div class="circle"></div>
      <div class="careers__content_single-descr">
        <span>Senior Ruby Developer</span>
        <div class="careers__content_single-descr--tags">
          <div class="tag">Full time</div>
          <div class="tag">Back end</div>
        </div>
      </div>
      <div class="green-btn">Apply</div>
    </div>
    <div class="careers__content_single">
      <div class="circle"></div>
      <div class="careers__content_single-descr">
        <span>Senior Ruby Developer</span>
        <div class="careers__content_single-descr--tags">
          <div class="tag">Full time</div>
          <div class="tag">Back end</div>
        </div>
      </div>
      <div class="green-btn">Apply</div>
    </div>
  </div>
  <div class="careers__content" *ngIf="designer">
  </div>
  <div class="careers__content" *ngIf="devops">
    <div class="careers__content_single">
      <div class="circle"></div>
      <div class="careers__content_single-descr">
        <span>Senior Ruby Developer</span>
        <div class="careers__content_single-descr--tags">
          <div class="tag">Full time</div>
          <div class="tag">Back end</div>
        </div>
      </div>
      <div class="green-btn">Apply</div>
    </div>
    <div class="careers__content_single">
      <div class="circle"></div>
      <div class="careers__content_single-descr">
        <span>Senior Ruby Developer</span>
        <div class="careers__content_single-descr--tags">
          <div class="tag">Full time</div>
          <div class="tag">Back end</div>
        </div>
      </div>
      <div class="green-btn">Apply</div>
    </div>
    <div class="careers__content_single">
      <div class="circle"></div>
      <div class="careers__content_single-descr">
        <span>Senior Ruby Developer</span>
        <div class="careers__content_single-descr--tags">
          <div class="tag">Full time</div>
          <div class="tag">Back end</div>
        </div>
      </div>
      <div class="green-btn">Apply</div>
    </div>
    <div class="careers__content_single">
      <div class="circle"></div>
      <div class="careers__content_single-descr">
        <span>Senior Ruby Developer</span>
        <div class="careers__content_single-descr--tags">
          <div class="tag">Full time</div>
          <div class="tag">Back end</div>
        </div>
      </div>
      <div class="green-btn">Apply</div>
    </div>
  </div>
  <div class="careers__content" *ngIf="management">
    <div class="careers__content_single">
      <div class="circle"></div>
      <div class="careers__content_single-descr">
        <span>Senior Ruby Developer</span>
        <div class="careers__content_single-descr--tags">
          <div class="tag">Full time</div>
          <div class="tag">Back end</div>
        </div>
      </div>
      <div class="green-btn">Apply</div>
    </div>
    <div class="careers__content_single">
      <div class="circle"></div>
      <div class="careers__content_single-descr">
        <span>Senior Ruby Developer</span>
        <div class="careers__content_single-descr--tags">
          <div class="tag">Full time</div>
          <div class="tag">Back end</div>
        </div>
      </div>
      <div class="green-btn">Apply</div>
    </div>
    <div class="careers__content_single">
      <div class="circle"></div>
      <div class="careers__content_single-descr">
        <span>Senior Ruby Developer</span>
        <div class="careers__content_single-descr--tags">
          <div class="tag">Full time</div>
          <div class="tag">Back end</div>
        </div>
      </div>
      <div class="green-btn">Apply</div>
    </div>
    <div class="careers__content_single">
      <div class="circle"></div>
      <div class="careers__content_single-descr">
        <span>Senior Ruby Developer</span>
        <div class="careers__content_single-descr--tags">
          <div class="tag">Full time</div>
          <div class="tag">Back end</div>
        </div>
      </div>
      <div class="green-btn">Apply</div>
    </div>
  </div>
  <div class="careers__content" *ngIf="marketing">
    <div class="careers__content_single">
      <div class="circle"></div>
      <div class="careers__content_single-descr">
        <span>Senior Ruby Developer</span>
        <div class="careers__content_single-descr--tags">
          <div class="tag">Full time</div>
          <div class="tag">Back end</div>
        </div>
      </div>
      <div class="green-btn">Apply</div>
    </div>
    <div class="careers__content_single">
      <div class="circle"></div>
      <div class="careers__content_single-descr">
        <span>Senior Ruby Developer</span>
        <div class="careers__content_single-descr--tags">
          <div class="tag">Full time</div>
          <div class="tag">Back end</div>
        </div>
      </div>
      <div class="green-btn">Apply</div>
    </div>
    <div class="careers__content_single">
      <div class="circle"></div>
      <div class="careers__content_single-descr">
        <span>Senior Ruby Developer</span>
        <div class="careers__content_single-descr--tags">
          <div class="tag">Full time</div>
          <div class="tag">Back end</div>
        </div>
      </div>
      <div class="green-btn">Apply</div>
    </div>
    <div class="careers__content_single">
      <div class="circle"></div>
      <div class="careers__content_single-descr">
        <span>Senior Ruby Developer</span>
        <div class="careers__content_single-descr--tags">
          <div class="tag">Full time</div>
          <div class="tag">Back end</div>
        </div>
      </div>
      <div class="green-btn">Apply</div>
    </div>
  </div>
  <div class="careers__content" *ngIf="business">
    <div class="careers__content_single">
      <div class="circle"></div>
      <div class="careers__content_single-descr">
        <span>Senior Ruby Developer</span>
        <div class="careers__content_single-descr--tags">
          <div class="tag">Full time</div>
          <div class="tag">Back end</div>
        </div>
      </div>
      <div class="green-btn">Apply</div>
    </div>
    <div class="careers__content_single">
      <div class="circle"></div>
      <div class="careers__content_single-descr">
        <span>Senior Ruby Developer</span>
        <div class="careers__content_single-descr--tags">
          <div class="tag">Full time</div>
          <div class="tag">Back end</div>
        </div>
      </div>
      <div class="green-btn">Apply</div>
    </div>
    <div class="careers__content_single">
      <div class="circle"></div>
      <div class="careers__content_single-descr">
        <span>Senior Ruby Developer</span>
        <div class="careers__content_single-descr--tags">
          <div class="tag">Full time</div>
          <div class="tag">Back end</div>
        </div>
      </div>
      <div class="green-btn">Apply</div>
    </div>
  </div>
</section>
