@import "../../../../mixins.sass"

.careers
  display: flex
  flex-direction: column
  @include mobile
    margin: 0 0 80px 0
    position: relative
  h2
    margin: 0 auto 40px auto
  &__wrapper
    display: flex
    flex-direction: column
    align-items: center
    margin-bottom: 80px
    @include mobile
      margin-bottom: 60px
  &__heading
    display: flex
    justify-content: space-between
    width: 100%
    @include mobile
      flex-direction: column
    &_wrapper
      @include small-desktop
        display: flex
        width: 80%
        overflow: hidden
        overflow-x: scroll
      @include mobile
        width: auto
        margin-bottom: 8px
        margin-left: 16px
    &_wrap
      display: flex
    &_single
      width: 110px
      font-family: 'Oswald Medium', sans-serif
      font-style: normal
      font-weight: 500
      font-size: 16px
      line-height: 28px
      text-align: center
      letter-spacing: 0.04em
      text-transform: uppercase
      color: #1D1D1F
      padding-bottom: 16px
      cursor: pointer
      z-index: 20
      border-bottom: 1px solid transparent
      &.active
        color: #4545FB
        transition: all .3s
        @include small-desktop
          border-bottom: 1px solid #4545FB
    &_select
      width: 159px
      height: 40px
      @include mobile
        width: auto
        margin: 0 16px
      select
        background-color: rgba(29, 29, 31, 0.08)
        border-radius: 4px
        width: 100%
        height: 100%
        border: none
        padding: 10px 24px
        box-sizing: border-box
        outline: none
        -webkit-appearance: none
        -moz-appearance: none
        appearance: none
        text-indent: 1px
        text-overflow: ''
        background-image: url("/assets/images/select.svg")
        background-repeat: no-repeat
        background-position: 85% center
        @include mobile
          background-position: 92% center
  .line
    width: 100%
    height: 1px
    background-color: #D6D6D6
    position: relative
    @include mobile
      position: absolute
      top: 44px
      z-index: 10
      left: 0
    &__fill
      width: 110px
      position: absolute
      background-color: #4545FB
      top: 0
      left: 0
      height: 1px
      transform: translateX(0)
      transition: all .3s
      @include small-desktop
      display: none

  &__content
    display: flex
    width: 100%
    flex-direction: column
    @include mobile
      margin: 0 16px
      width: auto
    &_single
      display: flex
      width: 100%
      padding: 40px 40px 40px 80px
      box-sizing: border-box
      background: #F6F6F6
      border-radius: 8px
      align-items: center
      justify-content: space-between
      position: relative
      overflow: hidden
      margin-bottom: 24px
      @include small-desktop
        padding: 40px 40px 40px 40px
      @include mobile
        padding: 24px 16px
        align-items: flex-end
      .circle
        background-image: url("/assets/images/giphy.gif")
        background-repeat: no-repeat
        background-size: cover
        opacity: 0.1
        width: 600px
        height: 600px
        border-radius: 100%
        filter: blur(100px)
        -webkit-filter: blur(100px)
        -ms-filter: blur(100px)
        position: absolute
        z-index: 10
        margin: 0 auto
        top: -84px
        right: -158px
      &-descr
        display: flex
        flex-direction: column
        z-index: 50
        span
          font-family: Oswald, sans-serif
          font-style: normal
          font-weight: bold
          font-size: 24px
          line-height: 36px
          display: flex
          align-items: center
          text-transform: uppercase
          color: #1D1D1F
          margin-bottom: 16px
          outline: none
          cursor: pointer
          @include mobile
            font-size: 18px
            line-height: 27px
        &--tags
          display: flex
      .green-btn
        z-index: 50
        outline: none
