<section class="expertise">
  <div class="circle"></div>
  <div class="container">
    <h1>
      We make a right shit
    </h1>
    <p>Lectus risus sed orci, at at mauris venenatis faucibus massa. Velit eu viverra est ridiculus pellentesque sem pellentesque commodo eget.</p>
    <div class="expertise__buttons">
      <button class="green-btn">Estimate your project</button>
    </div>
  </div>
</section>
<app-heading
  [backgroundColor]="'#FAFAFA'"
  [needCircle]="false"
  [title]="'We make a right shit'"
  [needSocial]="false"
  [hasSocial]="false"
  [hasContactButton]="'Estimate your project'">
</app-heading>
<div class="tabs section">
  <div class="tabs__wrapper">
    <div class="tabs__heading">
      <div class="tabs__heading_wrap">
        <span class="tabs__heading_single" (click)="changeTab('cloud')" [ngClass]="{'active': cloud}">All</span>
        <span class="tabs__heading_single" (click)="changeTab('web')" [ngClass]="{'active': web}">WEB</span>
        <span class="tabs__heading_single" (click)="changeTab('mobile')" [ngClass]="{'active': mobile}">Saas</span>
        <span class="tabs__heading_single" (click)="changeTab('analyze')" [ngClass]="{'active': analyze}">Mobile App</span>
      </div>
      <div class="line">
        <div class="line__fill" id="line__fill"></div>
      </div>
    </div>

    <div class="tabs__content" *ngIf="cloud">
      <app-cases [needMargin]="false" [needExtraTabs]="false" [needTitle]="false" *ngFor="let caseSingle of caseData" [caseData]="caseSingle"></app-cases>
    </div>
    <div class="tabs__content" *ngIf="web">
      <app-cases [needMargin]="false" [needExtraTabs]="false" [needTitle]="false" *ngFor="let caseSingle of webCases" [caseData]="caseSingle"></app-cases>
    </div>
    <div class="tabs__content" *ngIf="mobile">
      <app-cases [needMargin]="false" [needExtraTabs]="false" [needTitle]="false" *ngFor="let caseSingle of saasCases" [caseData]="caseSingle"></app-cases>
    </div>
    <div class="tabs__content" *ngIf="analyze">
      <app-cases [needMargin]="false" [needExtraTabs]="false" [needTitle]="false" *ngFor="let caseSingle of mobileCases" [caseData]="caseSingle"></app-cases>
    </div>
  </div>
</div>
<div class="section">
  <h2 class="centered">More cases</h2>
  <div class="cases-wrapper">
    <div class="cases-wrapper__single" *ngFor="let caseItem of otherCases">
      <div class="cases-wrapper__single_heading">
        <h3>{{caseItem.title}}</h3>
        <div class="cases-wrapper__single_tags">
          <div class="tag" *ngFor="let tag of caseItem.caseTags">{{tag}}</div>
        </div>
      </div>
      <a class="link" routerLink="{{caseItem.route}}">View case<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2.42084V9.68307H9.6L9.6 4.02874L1.69706 12.0001L0 10.2883L7.8 2.42084L2.4 2.42084L2.4 6.97254e-05L9.6 7.03603e-05V0H12V7.05719e-05V2.42084Z" fill="#00CAA7"/>
      </svg>
      </a>
    </div>
  </div>
</div>
