<section class="expertise">
  <div class="circle"></div>
  <div class="container">
    <a href="" class="back" routerLink="/cases">
      <svg width="21" height="18" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.11736 18.0001L1.14441e-05 8.96124L2.25979 6.72092L2.2599 6.72102L9.03929 0L11.3186 2.25971L6.23421 7.30034L20.9862 7.36334L21 10.5454L6.05305 10.4815L11.3771 15.7598L9.11736 18.0001Z" fill="#00CAA7"/>
      </svg>
      all Cases
    </a>
    <h1>
      Анализ движения
    </h1>
    <div class="tags__wrapper">
      <div class="tag">iOs</div>
      <div class="tag">Android</div>
      <div class="tag">Design</div>
      <div class="tag">AI</div>
    </div>
    <div class="expertise__buttons">
      <button class="green-btn">Estimate your project</button>
      <a href="" class="link">
        Launch Project
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2.42084V9.68307H9.6L9.6 4.02874L1.69706 12.0001L0 10.2883L7.8 2.42084L2.4 2.42084L2.4 6.97254e-05L9.6 7.03603e-05V0H12V7.05719e-05V2.42084Z" fill="#00CAA7"/>
        </svg>
      </a>
    </div>
  </div>
  <div class="exp-image">
    <img src="/assets/images/analysis.png" alt="">
  </div>
</section>

<app-heading
  [backgroundColor]="'#E7F2F3'"
  [top]="'-114px'"
  [right]="'-300px'"
  [title]="'Анализ движения'"
  [needSocial]="false"
  [hasSocial]="false"
  [hasLaunchButton]="true"
  [hasTags]="true"
  [hasContactButton]="'Estimate your project'"
  [needBackButton]="'all Cases'"
  [centered]="true"
>
</app-heading>
<app-triangles-block [single]="true" [title]="'Задачи и Проблемы'"> </app-triangles-block>
<div class="half-section">
  <h2 class="centered">
    Техническое решение проблемы
  </h2>
  <img src="/assets/images/analysis1.png" alt="" style="margin-top: 0">
  <p class="centered">
    Использование технологии Blockchain обезопасит пользователей благодаря прозрачности и защищенности, так как блокчейн это неизменный регистр, в который записываются все транзакции-записи между членами сети.</p>
  <p class="centered">Децентрализованная база данных Blockchain решает проблему центрального сервера, который можно взломать. Кроме того, она работает на ассиметричном шифровании с длиной ключа 256 бит, являющемся в этом смысле супербезопасным паролем.
  </p>
  <p class="centered">
    Генерируется уникальный токен по указанной при регистрации информации пользователя. Этот токен внедряется в базу данных Blockchain.
  </p>
  <img src="/assets/images/analysis2.png" alt="" >
</div>
<app-tabs-block [heading]="'Stack'"></app-tabs-block>
<a href="" class="big-link link">View next case<svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M40 8.56966V32.7769H32L32 13.9283L5.65685 40.4994L0 34.7936L25.999 8.56966L8 8.56966L8 0.500436L32 0.500438V0.5H40V0.500439V8.56966Z" fill="#00CAA7"/>
</svg>
</a>
<app-cases [title]="'Other cases'" [needExtraTabs]="true"></app-cases>



