<app-heading
  [backgroundColor]="'#E7F2F3'"
  [top]="'-114px'"
  [right]="'-300px'"
  [title]="'VR строитель'"
  [needSocial]="false"
  [hasSocial]="false"
  [hasLaunchButton]="true"
  [hasTags]="true"
  [hasContactButton]="'Estimate your App'"
  [needBackButton]="'all Cases'"
  [centered]="true"
>
</app-heading>
<div class="half-section">
  <h2 class="centered">
    Компоненты системы
  </h2>
  <p class="centered">
    VR программа, которая даёт возможность пользователю автоматически построить  виртуальный магазин из файла Autocad, разместить необходимое оборудование и  проверить как оно работает;

    Есть возможность запрограммировать все процессы в магазине и посмотреть их  эффективность, беря во внимание существующее оборудование и потоки клиентов;

    Симуляция эвакуации показывает как быстро посетители могут покинуть помещение  в случае пожара или другихнепредвиденных ситуаций;

    Симуляция передвижения людей с ограниченной мобильностью;

    Поддержка многопользовательного режима (несколько пользователейработает  одновременно в реальном режиме времени);

    Программа разработана в Unity. Совместима из HTC Vive и другими VR-очками,  которые работают из steamVR;
  </p>

</div>
<div class="section">
  <img class="inserted-image" src="/assets/images/vr1.png" alt="">
  <img class="inserted-image" src="/assets/images/vr2.png" alt="">
</div>
<a href="" class="big-link link">View next case<svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M40 8.56966V32.7769H32L32 13.9283L5.65685 40.4994L0 34.7936L25.999 8.56966L8 8.56966L8 0.500436L32 0.500438V0.5H40V0.500439V8.56966Z" fill="#00CAA7"/>
</svg>
</a>
<app-cases [title]="'Other cases'" [needExtraTabs]="true"></app-cases>





