<header class="header">
  <a routerLink="/" class="header__logo">Allatrack</a>
  <ul class="header__nav">
    <li>
      About us
      <svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.94 0.726685L4 3.78002L7.06 0.726685L8 1.66668L4 5.66668L0 1.66668L0.94 0.726685Z" fill="#1D1D1F"/>
      </svg>
    </li>
    <li>
      Services
      <svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.94 0.726685L4 3.78002L7.06 0.726685L8 1.66668L4 5.66668L0 1.66668L0.94 0.726685Z" fill="#1D1D1F"/>
      </svg>
    </li>
    <li>Expertise
      <svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.94 0.726685L4 3.78002L7.06 0.726685L8 1.66668L4 5.66668L0 1.66668L0.94 0.726685Z" fill="#1D1D1F"/>
      </svg>
    </li>
    <li>Clients</li>
    <li>Blog</li>
    <li>Careers</li>
  </ul>
  <div class="header__wrapper">
    <div class="header__lang">En</div>
    <button class="green-btn">Estimate project</button>
  </div>
</header>
