@import "../../../../mixins.sass"

.header
  display: flex
  justify-content: space-between
  align-items: center
  margin: 32px
  padding-top: 24px
  position: relative
  transition: all .3s
  @include small-desktop
    margin: 16px
  &.drop
    ul li span, ul li svg
      z-index: 200
  .logo
    margin: 0 0 0 118px
    z-index: 200
    @include small-desktop
      margin: 0 0 0 24px
  &__nav
    display: flex
    margin-left: 70px
    @include small-desktop
      display: none
    li
      display: flex
      align-items: center
      font-style: normal
      font-weight: 500
      font-size: 14px
      line-height: 140%
      color: #1D1D1F
      cursor: pointer
      z-index: 200
      &:not(:last-child)
        margin-right: 32px
      span.active
        color: #00CAA7
        z-index: 200
      svg
        margin-left: 8px
        &.active
          z-index: 200
          transform: rotate(180deg)
          path
            fill: #00CAA7
  &__wrapper
    display: flex
    align-items: center
    margin-right: 118px
    z-index: 200
    @include small-desktop
      display: none
  &__lang
    font-style: normal
    font-weight: 500
    font-size: 14px
    line-height: 140%
    text-align: right
    color: #1D1D1F
    margin-right: 24px
  &__dropdown
    position: absolute
    visibility: hidden
    opacity: 0
    transition: all .3s
    background: #FFFFFF
    border-radius: 8px
    left: 0
    top: 0
    z-index: 100
    width: 100%
    padding: 133px 118px 118px 118px
    box-sizing: border-box
    display: flex
    justify-content: space-between
    align-items: center
    @include small-desktop
      display: none
      z-index: 300
      padding: 0
      flex-direction: column
      position: unset
    &.open
      visibility: visible
      opacity: 1
      transition: all .3s
      @include small-desktop
        display: none
    &.mobile.open
      @include small-desktop
        display: flex
        padding: 40px 80px 95px 80px
        align-items: flex-start
        flex-direction: row
        flex-wrap: wrap
        &.expertise
          margin-top: -150px

    &_aside
      padding: 40px 0
      display: flex
      flex-direction: column
      justify-content: center
      width: 20%
      border-right: 1px solid #D6D6D6
      @include small-desktop
        width: 100%
        flex-direction: row
        margin-bottom: 80px
        border-bottom: 1px solid #D6D6D6
        border-right: unset
        padding-top: 80px
        justify-content: space-between
      a:not(:last-child)
        margin-bottom: 40px
    &_info
      display: flex
      flex-direction: column
      width: 45%
      margin-left: 80px
      @include small-desktop
        flex-direction: column
        margin-left: 0
        width: 62%
      &.full
        width: 70%
        @include small-desktop
          width: 100%
      span
        font-family: Oswald, sans-serif
        font-style: normal
        font-weight: 500
        font-size: 24px
        line-height: 36px
        display: flex
        align-items: center
        text-transform: uppercase
        color: #1D1D1F
        margin-bottom: 24px
      p
        font-family: Archivo, sans-serif
        font-style: normal
        font-weight: normal
        font-size: 16px
        line-height: 28px
        letter-spacing: 0.04em
        color: #9F9FA0
        margin-bottom: 20px
      &-columns
        display: flex
        justify-content: space-between
        margin-top: 24px
        @include small-desktop
          flex-direction: column
          flex-wrap: wrap
          max-height: 220px
        &--single
          display: flex
          flex-direction: column
          @include small-desktop
            flex-wrap: wrap
            max-height: 210px
          li
            font-family: Archivo, sans-serif
            font-style: normal
            font-weight: normal
            font-size: 14px
            line-height: 200%
            letter-spacing: 0.04em
            color: #9F9FA0
            margin-bottom: 16px
            cursor: pointer
            transition: all .3s
            outline: none
            &:hover
              transition: all .3s
              color: black
    &_wrap
      display: flex
      flex-direction: column
      width: 100%
      @include small-desktop
        margin-top: 80px
    &_images
      display: flex
      .animated-image
        width: 174px
        height: 174px
        border-radius: 100%
        @include small-desktop
          width: 120px
          height: 120px
        &.top
          margin-left: -87px

  &__mobile
    display: none
    @include small-desktop
      z-index: 200
      margin-right: 28px
      display: flex
      font-family: Oswald, sans-serif
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 24px
      align-items: center
      letter-spacing: 0.04em
      text-transform: uppercase
      color: #1D1D1F
      svg
        margin-left: 20px
  &__sidebar
    display: none
    @include small-desktop
      display: flex
      flex-direction: column
      justify-content: space-between
      position: absolute
      visibility: hidden
      opacity: 0
      transition: all .3s
      background: #FFFFFF
      border-radius: 8px
      min-height: 745px
      width: 100%
      z-index: 150
      top: 0
      padding: 0 0 24px 0
      box-sizing: border-box
      &.active
        visibility: visible
        opacity: 1
        transition: all .3s
    &_nav
      padding: 0 80px 0 80px
      width: 100%
      box-sizing: border-box
      display: flex
      flex-direction: column
      li
        font-family: 'Oswald Medium', sans-serif
        font-style: normal
        font-weight: 500
        font-size: 16px
        line-height: 24px
        text-transform: uppercase
        color: #1D1D1F
        margin-bottom: 32px
    &_lang
      display: flex
      justify-content: space-between
      width: 33%
      margin: 0 auto
      padding-top: 32px
      li
        font-family: Archivo, sans-serif
        font-style: normal
        font-weight: 500
        font-size: 14px
        line-height: 140%
        text-align: center
        color: #1D1D1F
        outline: none
        &.active
          color: #00CAA7

