
<div class="pagination">
  <div class="pagination__wrap">
    <div class="pagination__button active">
      <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.70508 1.70492L3.12508 6.29492L7.70508 10.8849L6.29508 12.2949L0.295077 6.29492L6.29508 0.294922L7.70508 1.70492Z" fill="#FAFAFA"/>
      </svg>
    </div>
    <div class="pagination__pages">
      <div class="pagination__pages_single">1</div>
      <div class="pagination__pages_single active">2</div>
      <div class="pagination__pages_single">...</div>
      <div class="pagination__pages_single">7</div>
      <div class="pagination__pages_single">8</div>
      <div class="pagination__pages_single">9</div>
      <div class="pagination__pages_single">...</div>
      <div class="pagination__pages_single">17</div>
      <div class="pagination__pages_single">18</div>
    </div>
    <div class="pagination__button">
      <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.294922 10.8849L4.87492 6.29492L0.294922 1.70492L1.70492 0.29492L7.70492 6.29492L1.70492 12.2949L0.294922 10.8849Z" fill="#1D1D1F"/>
      </svg>
    </div>
  </div>
  <button class="green-btn black">Show more
    <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M6.80278 15.7733L1.66775 10.6383L3.36481 8.94126L7.36314 12.9396L7.31479 1.71479L9.72517 1.72517L9.77289 12.8032L13.591 8.98512L15.3027 10.6969L10.2116 15.788L10.2118 15.7882L8.51472 17.4853L8.51452 17.4851L6.80278 15.7733Z" fill="#FAFAFA"/>
    </svg>
  </button>
</div>

