.blog
  display: flex
  flex-direction: column
  margin: 0 150px 120px 150px
  &__articles
    display: flex
    flex-wrap: wrap
    width: 100%
    &_single
      display: flex
      flex-direction: column
      width: 31%
      &:not(:last-child)
        margin: 0 24px 0 0
      img
        order: 2
        width: 100%
        height: 200px
        object-fit: cover
        border-radius: 8px
      &-description
        order: 1
        width: 100%
        display: flex
        flex-direction: column
        &--tags
          display: flex
          margin-bottom: 24px
        h4
          font-family: Oswald, sans-serif
          font-style: normal
          font-weight: 500
          font-size: 18px
          line-height: 27px
          text-transform: uppercase
          color: #1D1D1F
          margin-bottom: 24px
          min-height: 54px
        p
          font-family: Archivo, sans-serif
          font-style: normal
          font-weight: normal
          font-size: 16px
          line-height: 28px
          letter-spacing: 0.04em
          color: #9F9FA0
          margin-bottom: 24px
      &.main
        display: flex
        flex-direction: row
        flex-wrap: wrap
        width: 100%
        margin: 0 0 56px 0
        img
          order: 1
          width: 558px
          height: 320px
          object-fit: cover
          border-radius: 8px
        h4
          font-size: 24px
          line-height: 36px
        .blog__articles_single-description
          order: 2
          width: 45%
          margin: 16px 0 0 32px
.projects
  display: flex
  flex-direction: column
  margin: 0 150px 120px 150px
  &__heading
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 40px
