<section class="blog section">
  <div class="projects__heading" *ngIf="heading">
    <h2>{{heading}}</h2>
    <a class="link" routerLink="/blog">{{button}}<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M16 3.22789L16 12.9108H12.8L12.8 5.37167L2.26274 16.0001L0 13.7178L10.3999 3.22789L3.2 3.22789L3.2 0.000195805L12.8 0.000196652V0H16L16 0.000196934V3.22789Z" fill="#00CAA7"/>
    </svg>
    </a>
  </div>
  <div class="blog__articles">
    <div class="blog__articles_single" *ngFor="let article of data; let i = index" [ngClass]="{'main': i === 0 && mainArticle}" routerLink='/blog-single/{{article.alias}}'>
      <img src="https://allatrack.com/uploads/news/images/{{article.image}}" alt="">
      <div class="blog__articles_single-description">
        <div class="blog__tabs scrollbar">
          <div class="blog__articles_single-description--tags">
            <div class="tag light" *ngFor="let tag of article.cats">{{tag}}</div>
          </div>
        </div>
        <h4>{{article.title_eng}}</h4>
        <p *ngIf="article.description_eng" [innerHTML]="article.description_eng | slice:0:200"></p>
      </div>
    </div>

  </div>
</section>

