<section class="main-screen">
  <div class="circle"></div>
  <div class="container">
    <h1>
      Your <span class="animated">digital</span> <br>transformation
    </h1>
    <div class="main-screen__nav">
      View our
      <a class="link bold" routerLink="/cases">work<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M16 3.22789L16 12.9108H12.8L12.8 5.37167L2.26274 16.0001L0 13.7178L10.3999 3.22789L3.2 3.22789L3.2 0.000195805L12.8 0.000196652V0H16L16 0.000196934V3.22789Z" fill="#00CAA7"/>
        </svg>
      </a> , learn
      <a class="link bold" routerLink="/about">about us<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M16 3.22789L16 12.9108H12.8L12.8 5.37167L2.26274 16.0001L0 13.7178L10.3999 3.22789L3.2 3.22789L3.2 0.000195805L12.8 0.000196652V0H16L16 0.000196934V3.22789Z" fill="#00CAA7"/>
        </svg>
      </a>  or <a class="link bold" routerLink="/contacts"> contact us<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M16 3.22789L16 12.9108H12.8L12.8 5.37167L2.26274 16.0001L0 13.7178L10.3999 3.22789L3.2 3.22789L3.2 0.000195805L12.8 0.000196652V0H16L16 0.000196934V3.22789Z" fill="#00CAA7"/>
      </svg>
    </a>
    </div>
    <div class="main-screen__bottom">
      <div class="main-screen__bottom_blog">
        Check out our blog: <a href="">Big colaborations SoftData with Allatrack</a>
      </div>
      <div class="main-screen__bottom_social">
        <img src="/assets/images/linkedin.svg" alt="linkedin">
        <img src="/assets/images/twitter.svg" alt="twitter">
        <img src="/assets/images/fb.svg" alt="fb">
        <img src="/assets/images/instagram.svg" alt="instagram">
        <img src="/assets/images/dribble.svg" alt="dribble">
        <img src="/assets/images/behance.svg" alt="behance">
      </div>
    </div>
  </div>
</section>
<app-cases [needExtraTabs]="true"></app-cases>
<app-our-services [flag]="'service'" [title]="'Our services'" [servicesData]="servicesData"></app-our-services>
<app-about></app-about>
<app-expertise [header]="'Expertise'" [button]="'View all Expertise'"></app-expertise>
<app-reviews [heading]="'We help dozens of businesses become successful '"></app-reviews>
<app-blog-section [heading]="'Blog'" [button]="'Discover all articles'" [mainArticle]="true"></app-blog-section>
