@import "../../../../mixins.sass"

.main-screen
  display: flex
  margin: -102px 32px 120px 32px
  background-color: #F6F6F6
  border-radius: 8px
  position: relative
  overflow: hidden
  @include small-desktop
    margin: -76px 16px 112px 16px
  .circle
    background-image: url("/assets/images/giphy.gif")
    background-repeat: no-repeat
    background-size: cover
    opacity: 0.1
    width: 836px
    height: 836px
    border-radius: 100%
    filter: blur(90px)
    -webkit-filter: blur(90px)
    -ms-filter: blur(90px)
    position: absolute
    z-index: 10
    margin: 0 auto
    top: 193px
    right: 270px
    @include small-desktop
      width: 656px
      height: 656px
      top: 283px
      right: 0
      left: 0
    @include mobile
      top: 75px
  .container
    margin: 172px auto 0 auto
    width: 100%
    z-index: 20
    @include small-desktop
      margin: 248px auto 0 auto
    @include mobile
      margin: 140px auto 0 auto
  h1
    font-family: 'Oswald', sans-serif
    text-align: center
    font-weight: 600
    font-size: 64px
    line-height: 95px
    letter-spacing: 0.04em
    text-transform: uppercase
    color: #1D1D1F
    -webkit-text-stroke: 1px #1D1D1F
    margin-bottom: 40px
    position: relative
    @include mobile
      font-size: 40px
      line-height: 59px
    .animated
      color: transparent
      -webkit-text-fill-color: transparent
      -webkit-background-clip: text
      background-image: url("/assets/images/bg-blur.gif")
      background-position: right
      background-size: 260px 195px
      -webkit-text-stroke: 1px transparent
      @include mobile
        background-size: 148px 111px
  &__nav
    text-align: center
    font-family: 'Oswald', sans-serif
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 28px
    letter-spacing: 0.04em
    text-transform: uppercase
    color: #1D1D1F
    margin-bottom: 175px
    @include small-desktop
      margin-bottom: 200px
    @include mobile
      width: 90%
      margin: 0 auto 89px auto
  &__bottom
    display: flex
    justify-content: space-between
    margin: 0 118px 40px 118px
    @include small-desktop
      margin: 0 24px 24px 24px
    @include mobile
      flex-direction: column
      align-items: center
      margin-bottom: 16px
    &_blog
      font-family: 'Archivo', sans-serif
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 15px
      color: #9F9FA0
      @include mobile
        text-align: center
        margin-bottom: 16px
        line-height: 140%
      a
        color: #00CAA7
        text-decoration: none
    &_social
      display: flex
      align-items: center
      img
        margin-left: 20px

.projects
  display: flex
  flex-direction: column
  margin: 0 150px 120px 150px
  &__heading
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 40px






