<section class="blog-single">
  <div class="circle"></div>
  <a href="" class="back" routerLink="/expertises">
    <svg width="21" height="18" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M9.11736 18.0001L1.14441e-05 8.96124L2.25979 6.72092L2.2599 6.72102L9.03929 0L11.3186 2.25971L6.23421 7.30034L20.9862 7.36334L21 10.5454L6.05305 10.4815L11.3771 15.7598L9.11736 18.0001Z" fill="#00CAA7"/>
    </svg>
    All positions
  </a>
  <div class="blog-single__heading" *ngIf="data">
    <h2>{{data.title_eng}}</h2>
    <div class="blog-single__tags">
<!--      <div class="tag light">Full time</div>-->
      <div class="tag light">Backend</div>
    </div>
  </div>
  <div class="blog-single__content-wrapper" *ngIf="data">
    <div class="blog-single__content-wrapper_content" [innerHTML]="data.description_eng">
<!--      <p class="blog-single__content-wrapper_title">About us</p>-->
<!--      <div class="blog-single__content-wrapper_text">-->
<!--        <p>Fermentum, consectetur placerat vel risus. Aliquet turpis purus, ipsum et eget purus facilisi cras. Quam risus faucibus eu id egestas. Neque, porta non, venenatis nunc. Lectus porttitor condimentum viverra sapien aenean commodo magna et mi. A tellus aenean bibendum fringilla adipiscing.</p>-->
<!--        <p>Duis sodales mauris, odio elit. Consectetur adipiscing convallis aliquam vitae praesent. Nisi risus pellentesque id lectus non nisl at in elementum. Dolor, viverra nunc nunc cras in et. Ut turpis in sit quisque congue. Dolor, lorem ipsum, turpis risus, sed fames platea.</p>-->
<!--        <p>Eleifend turpis est rhoncus, egestas. Nascetur ac eleifend amet, vitae vel feugiat pulvinar. Arcu amet tincidunt scelerisque dui nulla. Eu a nunc, risus a mattis id volutpat. Hendrerit porttitor sed accumsan elit. Ullamcorper ante elementum, bibendum fermentum duis amet. Vel ut imperdiet cursus gravida imperdiet neque, quis congue et. Ullamcorper et vel nunc nunc integer gravida. Nec porta ut turpis vel. Mauris vestibulum, duis cursus urna, nunc sed. Gravida at tincidunt in in eu volutpat suspendisse vitae.</p>-->
<!--      </div>-->
<!--      <p class="blog-single__content-wrapper_title">About us</p>-->
<!--      <div class="blog-single__content-wrapper_text">-->
<!--        <p>Fermentum, consectetur placerat vel risus. Aliquet turpis purus, ipsum et eget purus facilisi cras. Quam risus faucibus eu id egestas. Neque, porta non, venenatis nunc. Lectus porttitor condimentum viverra sapien aenean commodo magna et mi. A tellus aenean bibendum fringilla adipiscing.</p>-->
<!--        <p>Duis sodales mauris, odio elit. Consectetur adipiscing convallis aliquam vitae praesent. Nisi risus pellentesque id lectus non nisl at in elementum. Dolor, viverra nunc nunc cras in et. Ut turpis in sit quisque congue. Dolor, lorem ipsum, turpis risus, sed fames platea.</p>-->
<!--        <p>Eleifend turpis est rhoncus, egestas. Nascetur ac eleifend amet, vitae vel feugiat pulvinar. Arcu amet tincidunt scelerisque dui nulla. Eu a nunc, risus a mattis id volutpat. Hendrerit porttitor sed accumsan elit. Ullamcorper ante elementum, bibendum fermentum duis amet. Vel ut imperdiet cursus gravida imperdiet neque, quis congue et. Ullamcorper et vel nunc nunc integer gravida. Nec porta ut turpis vel. Mauris vestibulum, duis cursus urna, nunc sed. Gravida at tincidunt in in eu volutpat suspendisse vitae.</p>-->
<!--      </div>-->
<!--      <p class="blog-single__content-wrapper_title">About us</p>-->
<!--      <div class="blog-single__content-wrapper_text">-->
<!--        <p>Fermentum, consectetur placerat vel risus. Aliquet turpis purus, ipsum et eget purus facilisi cras. Quam risus faucibus eu id egestas. Neque, porta non, venenatis nunc. Lectus porttitor condimentum viverra sapien aenean commodo magna et mi. A tellus aenean bibendum fringilla adipiscing.</p>-->
<!--        <p>Duis sodales mauris, odio elit. Consectetur adipiscing convallis aliquam vitae praesent. Nisi risus pellentesque id lectus non nisl at in elementum. Dolor, viverra nunc nunc cras in et. Ut turpis in sit quisque congue. Dolor, lorem ipsum, turpis risus, sed fames platea.</p>-->
<!--        <p>Eleifend turpis est rhoncus, egestas. Nascetur ac eleifend amet, vitae vel feugiat pulvinar. Arcu amet tincidunt scelerisque dui nulla. Eu a nunc, risus a mattis id volutpat. Hendrerit porttitor sed accumsan elit. Ullamcorper ante elementum, bibendum fermentum duis amet. Vel ut imperdiet cursus gravida imperdiet neque, quis congue et. Ullamcorper et vel nunc nunc integer gravida. Nec porta ut turpis vel. Mauris vestibulum, duis cursus urna, nunc sed. Gravida at tincidunt in in eu volutpat suspendisse vitae.</p>-->
<!--      </div>-->
    </div>
    <div class="blog-single__content-wrapper_extra" *ngIf="data">
      <h5>Ready to join?</h5>
      <button class="green-btn" routerLink="/careers-apply/{{data.alias}}">apply</button>
      <div class="hr"></div>
      <div class="contacts__block">
        <span class="contacts__block-name">Address</span>
        <a href="tel:+4525943933" class="contacts__block-info link">
          st., Semyi Prakhovykh, 50
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M16 3.22786L16 12.9108H12.8L12.8 5.37133L2.26274 15.9998L0 13.7174L10.3996 3.22786L3.2 3.22786L3.2 0.000174347L12.8 0.000175194V0H16V0.000175476V3.22786Z" fill="#00CAA7"/>
          </svg>
        </a>
        <span class="contacts__block-index">Kiev 01033, Ukraine</span>
        <div class="bottom_social">
          <img src="/assets/images/linkedin.svg" alt="linkedin">
          <img src="/assets/images/twitter.svg" alt="twitter">
          <img src="/assets/images/fb.svg" alt="fb">
          <img src="/assets/images/instagram.svg" alt="instagram">
          <img src="/assets/images/dribble.svg" alt="dribble">
          <img src="/assets/images/behance.svg" alt="behance">
        </div>
      </div>
    </div>
  </div>

</section>
