.blog-single
  display: flex
  flex-direction: column
  margin: 133px 150px 120px 150px
  .back
    margin-bottom: 40px
  &__heading
    display: flex
    flex-direction: column
    align-items: center
    margin-bottom: 80px
    h2
      margin-bottom: 40px
      text-align: center
    p
      font-family: Archivo, sans-serif
      font-style: normal
      font-weight: normal
      font-size: 16px
      line-height: 28px
      text-align: center
      letter-spacing: 0.04em
      color: #9F9FA0
      margin-bottom: 40px
      width: 53%
  &__tags
    display: flex
  &__content-wrapper
    display: flex
    flex-direction: row
    &_content
      width: 80%
    &_extra
      width: 20%
      button
        width: 100%
        margin-bottom: 40px
      h5
        margin-bottom: 16px
      .hr
        border-bottom: 1px solid #D6D6D6
        margin-bottom: 40px

    &_title
      font-size: 24px
      color: #4545FB
      line-height: 36px
      font-weight: bold
      width: 52%
      margin: 0 auto 40px
    &_text
      width: 52%
      margin: 0 auto 40px auto
      p
        font-family: Archivo, sans-serif
        font-style: normal
        font-weight: 500
        font-size: 14px
        line-height: 28px
        color: #000000

.contacts__block
  display: flex
  flex-direction: column
  margin-bottom: 80px
  &-name
    font-family: Archivo, sans-serif
    font-style: normal
    font-weight: 600
    font-size: 12px
    line-height: 13px
    letter-spacing: 0.04em
    color: #1D1D1F
    opacity: 0.4
    margin-bottom: 16px
  &-info
    font-size: 14px
    line-height: 28px
    margin-bottom: 16px
  &-index
    font-family: Oswald, sans-serif
    font-style: normal
    font-weight: 500
    font-size: 10px
    line-height: 15px
    letter-spacing: 0.04em
    text-decoration-line: underline
    text-transform: uppercase
    color: #1D1D1F
    opacity: 0.4
    margin-bottom: 40px

.bottom_social
  display: flex
  align-items: center
  img
    margin-right: 20px
