@import "../../../../mixins.sass"

.faq
  display: flex
  justify-content: space-between
  @include small-desktop
    flex-direction: column
    margin-bottom: 200px
  &__heading
    display: flex
    flex-direction: column
    width: 30%
    @include small-desktop
      flex-direction: row
      justify-content: space-between
      width: 100%
      margin-bottom: 40px
    h2
      margin-bottom: 40px
      @include small-desktop
        width: 50%
        margin-bottom: 0
    p
      font-family: Archivo, sans-serif
      font-style: normal
      font-weight: normal
      font-size: 16px
      line-height: 28px
      letter-spacing: 0.04em
      color: #9F9FA0
      @include small-desktop
        width: 50%
  &__questions
    width: 60%
    display: flex
    flex-direction: column
    @include small-desktop
      width: 100%
    &_single
      margin-bottom: 8px
      cursor: pointer
      &.active
        .faq__questions_single-heading
          background: #4545FB
          transition: all .3s
          color: white
          svg
            transform: rotate(180deg)
            path
              fill: #FFFFFF
        .faq__questions_single-answer
          height: auto
          visibility: visible
          padding: 40px

      &-heading
        background: #F6F6F6
        padding: 24px 40px
        font-family: 'Oswald Medium', sans-serif
        font-style: normal
        font-weight: 500
        font-size: 16px
        line-height: 24px
        letter-spacing: 0.04em
        text-transform: uppercase
        color: #1D1D1F
        display: flex
        justify-content: space-between
        align-items: center
      &-answer
        background: #F6F6F6
        height: 0
        visibility: hidden
        h3
          font-family: Oswald, sans-serif
          font-style: normal
          font-weight: bold
          font-size: 24px
          line-height: 36px
          display: flex
          align-items: center
          color: #1D1D1F
          margin-bottom: 32px
        p
          font-family: Archivo, sans-serif
          font-style: normal
          font-weight: normal
          font-size: 16px
          line-height: 28px
          letter-spacing: 0.04em
          color: #9F9FA0





