<app-heading
  [backgroundColor]="'#F6F7FB'"
  [top]="'-114px'"
  [right]="'-300px'"
  [title]="'Анти-плагиат'"
  [needSocial]="false"
  [hasSocial]="false"
  [hasLaunchButton]="true"
  [hasTags]="true"
  [hasContactButton]="'Estimate your App'"
  [needBackButton]="'all Cases'"
  [centered]="true"
>
</app-heading>
<app-triangles-block [single]="true" [title]="'Цель'"> </app-triangles-block>
<app-two-columned-block [heading1]="'Задача'" [contentData]="contentData"></app-two-columned-block>
<div class="half-section">
  <h2 class="centered">
    Дополнительные Функции
  </h2>
  <p class="centered">
    Использование технологии Blockchain обезопасит пользователей благодаря прозрачности и защищенности, так как блокчейн это неизменный регистр, в который записываются все транзакции-записи между членами сети.</p>
  <p class="centered">Децентрализованная база данных Blockchain решает проблему центрального сервера, который можно взломать. Кроме того, она работает на ассиметричном шифровании с длиной ключа 256 бит, являющемся в этом смысле супербезопасным паролем.
  </p>
  <p class="centered">
    Генерируется уникальный токен по указанной при регистрации информации пользователя. Этот токен внедряется в базу данных Blockchain.
  </p>
</div>
<app-tabs-block [heading]="'Stack'"></app-tabs-block>
<a href="" class="big-link link">View next case<svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M40 8.56966V32.7769H32L32 13.9283L5.65685 40.4994L0 34.7936L25.999 8.56966L8 8.56966L8 0.500436L32 0.500438V0.5H40V0.500439V8.56966Z" fill="#00CAA7"/>
</svg>
</a>
<app-cases [title]="'Other cases'" [needExtraTabs]="true"></app-cases>



