<section class="contacts">
  <div class="circle"></div>
  <div class="contacts__block">
    <span class="contacts__block-name">Contact</span>
    <a href="tel:+4525943933" class="contacts__block-info link">
      +45 2594 3933
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M16 3.22786L16 12.9108H12.8L12.8 5.37133L2.26274 15.9998L0 13.7174L10.3996 3.22786L3.2 3.22786L3.2 0.000174347L12.8 0.000175194V0H16V0.000175476V3.22786Z" fill="#00CAA7"/>
      </svg>
    </a>
    <a href="mailto:hello@allatrack.com" class="contacts__block-info link">
      hello@allatrack.com
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M16 3.22786L16 12.9108H12.8L12.8 5.37133L2.26274 15.9998L0 13.7174L10.3996 3.22786L3.2 3.22786L3.2 0.000174347L12.8 0.000175194V0H16V0.000175476V3.22786Z" fill="#00CAA7"/>
      </svg>
    </a>
  </div>
  <div class="contacts__block">
    <span class="contacts__block-name">Address</span>
    <a href="tel:+4525943933" class="contacts__block-info link">
      st., Semyi Prakhovykh, 50
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M16 3.22786L16 12.9108H12.8L12.8 5.37133L2.26274 15.9998L0 13.7174L10.3996 3.22786L3.2 3.22786L3.2 0.000174347L12.8 0.000175194V0H16V0.000175476V3.22786Z" fill="#00CAA7"/>
      </svg>
    </a>
    <span class="contacts__block-index">Kiev 01033, Ukraine</span>
  </div>
  <div class="contacts__social">
    <img src="/assets/images/linkedin.svg" alt="linkedin">
    <img src="/assets/images/twitter.svg" alt="twitter">
    <img src="/assets/images/fb.svg" alt="fb">
    <img src="/assets/images/instagram.svg" alt="instagram">
    <img src="/assets/images/dribble.svg" alt="dribble">
    <img src="/assets/images/behance.svg" alt="behance">
  </div>
</section>

