<section class="process">
  <div class="circle"></div>
  <div class="process__step">
    <span>01. Identifying the project scope</span>
    <p>Here, we work with you to gain in-depth insight into your product idea and the underlying business value - we feel that there is nothing more essential than understanding your vision and context. This will enable us to present you with a tailor-made offer for the project. If we feel that there is a need for a more detailed discussion, we may propose a discovery workshop or scoping meetings.</p>
  </div>
  <div class="process__step">
    <span>02. Project kickoff</span>
    <p>A successful project kickoff means that the whole project team together gets to the bottom of all the context, needs and user expectations, and we’re ready to start design and development.</p>
  </div>
  <div class="process__step">
    <span>03. Proof of Concept</span>
    <p>For selected projects, depending on your needs, we may propose running a Proof of Concept first to work out the prototype for your solution. We use several approaches for this, including Design Sprints. After this phase, the project is ready to go into the target Design and Development phase.</p>
  </div>
  <div class="process__step">
    <span>04. Design & Development</span>
    <p>In this phase when we start working on your ideas. We are able to support you with software development, DevOps, QA, as well as UX and UI design, but we leave it up to you to decide which elements you need.
    <br>
    For software development, we use elements of Scrum to make our work efficient, predictable, and valuable, and to give you transparency about the work progress.</p>
  </div>
  <div class="process__step">
    <span>05. Maintenance & Support Development</span>
    <p>After go-live of your product, we provide ongoing support, and can help you develop the project further, based on your ideas and input from users.</p>
  </div>
</section>
