@import "../mixins.sass"
.cookie
  background: #4545FB
  border-radius: 8px
  padding: 16px 40px
  position: fixed
  display: flex
  align-items: center
  width: 45%
  max-width: 619px
  box-sizing: border-box
  justify-content: space-between
  left: 0
  right: 0
  margin: 0 auto
  animation-duration: 1s
  animation-name: slidein
  z-index: 100
  bottom: 30px
  @include small-desktop
    max-width: 533px
    width: 100%
  @include mobile
    max-width: 359px
    padding: 8px 16px


  span
    font-family: Oswald, sans-serif
    font-style: normal
    font-weight: bold
    font-size: 12px
    line-height: 24px
    display: flex
    align-items: center
    color: #FFFFFF
    @include small-desktop
      display: none
  p
    font-family: Archivo, sans-serif
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 24px
    letter-spacing: 0.04em
    color: rgba(255, 255, 255, 0.4)
  a
    color: white
  svg
    cursor: pointer
  .accept
    font-family: Oswald, sans-serif
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 24px
    letter-spacing: 0.04em
    text-transform: uppercase
    color: #FFFFFF
    margin: 0 21px 0 16px
    cursor: pointer
    @include mobile
      margin: 0 29px 0 16px

@keyframes slidein
  from
    bottom: -60px
  to
    bottom: 30px
