<app-heading
  [backgroundColor]="'#EEE9FA'"
  [top]="'50%'"
  [right]="'-155px'"
  [title]="'Extend your team'"
  [needSocial]="false"
  [hasDownloadButton]="true"
  [hasSocial]="false"
  [needBackButton]="'all services'"
  [buttonLink]="'services-list'"
  [needForm]="true"
>
</app-heading>
<app-three-columned-block [title]="'How we help you'" [threeData]="threeData"></app-three-columned-block>
<app-small-contact></app-small-contact>
<app-numbers-block></app-numbers-block>
<app-stages-slider [title]="'How we do this'"
                   [description]="'The introduction of artificial intelligence, data mining, virtual and augmented reality, blockchain, Neurotechnology and innovative solutions for your business.'"
                   [image]="'exp1.png'"
></app-stages-slider>
<app-triangles-block [title]="'How you can benefit'" [single]="false"></app-triangles-block>
<app-three-columned-block [title]="''" [text]="'Allatrack is a young and progressive IT company that provides a full range of services in the field of data analysis and software development of any complexity. To each client an individual approach, depending on the specifics of the business.'" [figure]="'triangle'" [threeData]="threeData"></app-three-columned-block>
<app-our-services [flag]="'link'" [title]="'Our expertise'" [servicesData]="" [linkData]="linkData"></app-our-services>
<app-blog-section [heading]="'Related articles'" [button]="'Discover all article'" [mainArticle]="false" [data]="news | slice:0:3"></app-blog-section>
<app-cases [needExtraTabs]="true"></app-cases>
<app-faq-block></app-faq-block>

