<div class="triangles section" [ngClass]="{'single': single}">
  <div class="triangles__heading">
    <h2>{{title}}</h2>
    <p>Allatrack is a young and progressive IT company that provides a full range of services in the field of data analysis and software development of any complexity. To each client an individual approach, depending on the specifics of the business.</p>
  </div>
  <div class="triangles__wrap">
    <div class="triangles__cover right">
      <img src="/assets/images/giphy.gif" alt="">
    </div>
    <div class="triangles__cover">
      <img src="/assets/images/bg.gif" alt="">
    </div>
  </div>
</div>
<svg style="position: absolute" width="213" height="189" viewBox="0 0 213 189" fill="none" xmlns="http://www.w3.org/2000/svg">
  <clipPath id="myClip">
    <path d="M92.6433 8.00134C98.8014 -2.66709 114.2 -2.66707 120.358 8.00137L210.834 164.746C216.991 175.413 209.293 188.745 196.977 188.745H16.0239C3.70775 188.745 -3.99035 175.413 2.16669 164.746L92.6433 8.00134Z" fill="#C4C4C4"/>
  </clipPath>
</svg>
