@import "../../../../mixins.sass"

.triangles
  display: flex
  justify-content: space-between
  align-items: center
  @include small-desktop
    align-items: flex-end
  &.single
    margin: 0 32px 120px 32px
    padding: 80px 119px
    background: #F6F6F6
    border-radius: 8px
    @include small-desktop
      padding: 80px 60px 80px 80px
      margin: 0 16px 120px 16px
  &__heading
    width: 50%
    display: flex
    flex-direction: column
    @include small-desktop
      width: 52%
    h2
      margin-bottom: 40px
    p
      font-family: Archivo, sans-serif
      font-style: normal
      font-weight: normal
      font-size: 16px
      line-height: 28px
      letter-spacing: 0.04em
      color: #9F9FA0
      @include small-desktop
        width: 95%
  &__cover
    position: relative
    width: 213px
    height: 189px
    clip-path: url(#myClip)
    background-image: url('/assets/images/giphy.gif')
    @include small-desktop
      transform: scale(0.8)
    &.right
      margin-right: -385px
      @include small-desktop
        margin-right: -160px
  img
    width: 213px
    height: 189px
    object-fit: cover
    position: absolute
    z-index: 50


