<app-heading
  [backgroundColor]="'#F2F7FF'"
  [top]="'150px'"
  [right]="'350px'"
  [title]="'Чековая лотерея'"
  [needSocial]="false"
  [hasSocial]="false"
  [hasLaunchButton]="true"
  [hasTags]="true"
  [hasContactButton]="'Estimate your Project'"
  [needBackButton]="'all Cases'"
  [centered]="true"
>
</app-heading>
<app-triangles-block [single]="true" [title]="'Цель'"></app-triangles-block>
<div class="half-section">
  <h2 class="centered">
    Задачи и Проблемы
  </h2>
  <p class="centered">
    o  Модернизация рекламной площадки. o  Устранение фрода в интернет-рекламе; <br>
    o  Фрод - трафик и клики; <br>
    o  Препятствование скликивания (перехода)  рекламы ботами; <br>
    o  Наложение креативов; <br>
    o  Повтор на странице; <br>
    o  Сайты призраки. <br>
  </p>
</div>
<div class="half-section">
  <h2 class="centered">
    Функции
  </h2>
  <p class="centered">
    o  Модернизация рекламной площадки. o  Устранение фрода в интернет-рекламе; <br>
    o  Фрод - трафик и клики; <br>
    o  Препятствование скликивания (перехода)  рекламы ботами; <br>
    o  Наложение креативов; <br>
    o  Повтор на странице; <br>
    o  Сайты призраки. <br>
  </p>
</div>
<div class="half-section">
  <h2 class="centered">
    Дополнительные Функции
  </h2>
  <p class="centered">
    o  Модернизация рекламной площадки. o  Устранение фрода в интернет-рекламе; <br>
    o  Фрод - трафик и клики; <br>
    o  Препятствование скликивания (перехода)  рекламы ботами; <br>
    o  Наложение креативов; <br>
    o  Повтор на странице; <br>
    o  Сайты призраки. <br>
  </p>
</div>
<div class="half-section">
  <h2 class="centered">
    Результат
  </h2>
  <p class="centered">
    o  Модернизация рекламной площадки. o  Устранение фрода в интернет-рекламе; <br>
    o  Фрод - трафик и клики; <br>
    o  Препятствование скликивания (перехода)  рекламы ботами; <br>
    o  Наложение креативов; <br>
    o  Повтор на странице; <br>
    o  Сайты призраки. <br>
  </p>
</div>
<app-tabs-block [heading]="'Stack'"></app-tabs-block>
<a href="" class="big-link link">View next case<svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M40 8.56966V32.7769H32L32 13.9283L5.65685 40.4994L0 34.7936L25.999 8.56966L8 8.56966L8 0.500436L32 0.500438V0.5H40V0.500439V8.56966Z" fill="#00CAA7"/>
</svg>
</a>
<app-cases [title]="'Other cases'" [needExtraTabs]="true"></app-cases>




