.contacts
  display: flex
  &__block
    display: flex
    flex-direction: column
    h1
      font-family: Oswald
      font-style: normal
      font-weight: bold
      font-size: 64px
      line-height: 95px
      letter-spacing: 0.04em
      text-transform: uppercase
      color: #1D1D1F

