<section class="founders">
  <h2>Founders</h2>
  <div class="founders__block">
    <div class="founders__block_single">
      <img src="/assets/images/founder1.png" alt="">
      <div class="founders__block_single-tags">
        <div class="tag light">CEO</div>
        <div class="tag light">Co-founder</div>
        <div class="tag light">Big Boss</div>
      </div>
      <span>Christian Shpilka</span>
      <div class="founders__block_single-social">
        <img src="/assets/images/linkedin.svg" alt="linkedin">
        <img src="/assets/images/twitter.svg" alt="twitter">
        <img src="/assets/images/fb.svg" alt="fb">
        <img src="/assets/images/instagram.svg" alt="instagram">
      </div>
    </div>
    <div class="founders__block_single">
      <img src="/assets/images/founder2.png" alt="">
      <div class="founders__block_single-tags">
        <div class="tag light">CEO</div>
        <div class="tag light">Co-founder</div>
        <div class="tag light">Big Boss</div>
      </div>
      <span>Christian Shpilka</span>
      <div class="founders__block_single-social">
        <img src="/assets/images/linkedin.svg" alt="linkedin">
        <img src="/assets/images/twitter.svg" alt="twitter">
        <img src="/assets/images/fb.svg" alt="fb">
        <img src="/assets/images/instagram.svg" alt="instagram">
      </div>
    </div>
    <div class="founders__block_single">
      <img src="/assets/images/founder3.png" alt="">
      <div class="founders__block_single-tags">
        <div class="tag light">CEO</div>
        <div class="tag light">Co-founder</div>
        <div class="tag light">Big Boss</div>
      </div>
      <span>Christian Shpilka</span>
      <div class="founders__block_single-social">
        <img src="/assets/images/linkedin.svg" alt="linkedin">
        <img src="/assets/images/twitter.svg" alt="twitter">
        <img src="/assets/images/fb.svg" alt="fb">
        <img src="/assets/images/instagram.svg" alt="instagram">
      </div>
    </div>
  </div>
</section>
