<app-heading
  [backgroundColor]="'#FFF4F0'"
  [top]="'-100px'"
  [right]="'-155px'"
  [title]="'Our services'"
  [needSocial]="false"
  [hasDownloadButton]="true"
  [hasSocial]="false"
  [blueCircle]="true"
>
</app-heading>
<section class="expertise__element section">
  <div class="expertise__element_single">
    <div class="expertise__element_single-content">
      <div class="circle"></div>
      <div class="expertise__element_single-content--wrap">
        <h2>Extend your team</h2>
        <p>Technology opens new doors to customer intimacy, product innovation, and revenue streams. Yet with all the promise of new technologies and their applications, without proper management, technology is just another source of overhead.</p>
        <div class="expertise__element_single-content--links">
          <a href="" class="link">
            Read more
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M16 3.22789L16 12.9108H12.8L12.8 5.37167L2.26274 16.0001L0 13.7178L10.3999 3.22789L3.2 3.22789L3.2 0.000195805L12.8 0.000196652V0H16L16 0.000196934V3.22789Z" fill="#00CAA7"/>
            </svg>
          </a>
        </div>
      </div>
      <img src="/assets/images/exp1.png" alt="">
    </div>
  </div>
  <div class="expertise__element_single">
    <div class="expertise__element_single-content">
      <div class="circle"></div>
      <div class="expertise__element_single-content--wrap">
        <h2>Build your idea</h2>
        <p>Technology opens new doors to customer intimacy, product innovation, and revenue streams. Yet with all the promise of new technologies and their applications, without proper management, technology is just another source of overhead.</p>
        <div class="expertise__element_single-content--links">
          <a href="" class="link">
            Read more
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M16 3.22789L16 12.9108H12.8L12.8 5.37167L2.26274 16.0001L0 13.7178L10.3999 3.22789L3.2 3.22789L3.2 0.000195805L12.8 0.000196652V0H16L16 0.000196934V3.22789Z" fill="#00CAA7"/>
            </svg>
          </a>
        </div>
      </div>
      <img src="/assets/images/exp1.png" alt="">
    </div>
  </div>
  <div class="expertise__element_single">
    <div class="expertise__element_single-content">
      <div class="circle"></div>
      <div class="expertise__element_single-content--wrap">
        <h2>Manage your service</h2>
        <p>Technology opens new doors to customer intimacy, product innovation, and revenue streams. Yet with all the promise of new technologies and their applications, without proper management, technology is just another source of overhead.</p>
        <div class="expertise__element_single-content--links">
          <a href="" class="link">
            Read more
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M16 3.22789L16 12.9108H12.8L12.8 5.37167L2.26274 16.0001L0 13.7178L10.3999 3.22789L3.2 3.22789L3.2 0.000195805L12.8 0.000196652V0H16L16 0.000196934V3.22789Z" fill="#00CAA7"/>
            </svg>
          </a>
        </div>
      </div>
      <img src="/assets/images/exp1.png" alt="">
    </div>
  </div>
</section>
<app-three-columned-block [title]="'Manage your service'" [threeData]="threeData"></app-three-columned-block>
<app-cases [needExtraTabs]="true"></app-cases>
<app-our-services [flag]="'service'" [title]="'Our expertise'" [servicesData]="servicesData"></app-our-services>
