<div class="expertise-description__done">
  <h2>What We Do</h2>
  <div class="expertise-description__done_wrap">
    <div class="expertise-description__done_single">
      <span>Natural Language Processing</span>
      <p>Advanced texts, speech, and cognitive analytics. Structured and unstructured data. Chatbots</p>
    </div>
    <div class="expertise-description__done_single">
      <span>Natural Language Processing</span>
      <p>Advanced texts, speech, and cognitive analytics. Structured and unstructured data. Chatbots</p>
    </div>
    <div class="expertise-description__done_single">
      <span>Natural Language Processing</span>
      <p>Advanced texts, speech, and cognitive analytics. Structured and unstructured data. Chatbots</p>
    </div>
    <div class="expertise-description__done_single">
      <span>Natural Language Processing</span>
      <p>Advanced texts, speech, and cognitive analytics. Structured and unstructured data. Chatbots</p>
    </div>
    <div class="expertise-description__done_single">
      <span>Natural Language Processing</span>
      <p>Advanced texts, speech, and cognitive analytics. Structured and unstructured data. Chatbots</p>
    </div>
    <div class="expertise-description__done_single">
      <span>Natural Language Processing</span>
      <p>Advanced texts, speech, and cognitive analytics. Structured and unstructured data. Chatbots</p>
    </div>

  </div>


</div>
