.projects
  display: flex
  flex-direction: column
  margin: 0 150px 120px 150px
  &__heading
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 40px

    .link
      font-size: 18px
  &__block
    display: flex
    justify-content: space-between
    width: 100%
    padding: 0 0 0 56px
    box-sizing: border-box
    background-color: #f9f8fa
    border-radius: 8px
    margin-bottom: 40px
    background-image: url("/assets/images/projects-bg.png")
    &.dark
      h3
        color: white
      .tag
        color: white
      .link
        color: white
    &_content
      margin: 180px 0 0 0
      width: 40%
    &__tags
      display: flex
      margin-bottom: 16px
    h3
      font-family: Oswald, sans-serif
      font-style: normal
      font-weight: bold
      font-size: 24px
      line-height: 36px
      display: flex
      align-items: center
      text-transform: uppercase
      color: #1D1D1F
      margin-bottom: 40px
    .link
      font-size: 14px
    img
      border-radius: 0 8px 8px 0
      width: 465px
      height: 420px
      object-fit: cover
  &__wrapp
    display: flex
  &__all
    display: flex
    width: 100%
    overflow: hidden
    overflow-x: scroll
    &_single
      display: flex
      flex-direction: column
      border-bottom: 1px solid #D6D6D6
      width: 163px
      margin-right: 16px
      cursor: pointer
      &.selected
        .projects__all_single-name
          color: #4545FB
      &-name
        margin-bottom: 8px
        font-family: 'Spartan', sans-serif
        font-style: normal
        font-weight: bold
        font-size: 14px
        line-height: 16px
        display: flex
        align-items: flex-end
        color: #1D1D1F
      span
        font-family: Archivo, sans-serif
        font-style: normal
        font-weight: normal
        font-size: 12px
        line-height: 13px
        letter-spacing: 0.04em
        color: #9F9FA0
        margin-bottom: 16px
