<section class="projects section" [style.margin]="!needMargin ? '0' : ''">
  <div class="projects__heading" *ngIf="needTitle">
    <h2 *ngIf="!title">We make a right shit</h2>
    <h2 *ngIf="title">{{title}}</h2>
    <a class="link" routerLink="/cases">View all Cases<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M16 3.22789L16 12.9108H12.8L12.8 5.37167L2.26274 16.0001L0 13.7178L10.3999 3.22789L3.2 3.22789L3.2 0.000195805L12.8 0.000196652V0H16L16 0.000196934V3.22789Z" fill="#00CAA7"/>
    </svg>
    </a>
  </div>
  <ng-container *ngIf="!needExtraTabs">
    <div class="projects__block selected" [ngClass]="{'dark': caseData.darkMode , 'products': caseData.text}" [style.backgroundColor]="caseData.background">
      <div class="circle" style="{{caseData.circle}}"></div>
      <div class="projects__block_content">
        <div class="projects__block__tags">
          <div class="tag" *ngFor="let tag of caseData.caseTags">{{tag}}</div>
        </div>
        <h3>{{caseData.caseTitle}}</h3>
        <p [innerText]="caseData.text" *ngIf="caseData.text"></p>
        <div class="flex">
          <a class="link" routerLink="{{caseData.route}}">View case<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2.42084V9.68307H9.6L9.6 4.02874L1.69706 12.0001L0 10.2883L7.8 2.42084L2.4 2.42084L2.4 6.97254e-05L9.6 7.03603e-05V0H12V7.05719e-05V2.42084Z" fill="#00CAA7"/>
          </svg>
          </a>
          <a class="link" *ngIf="caseData.product" routerLink="{{caseData.route}}">Launch Project<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2.42084V9.68307H9.6L9.6 4.02874L1.69706 12.0001L0 10.2883L7.8 2.42084L2.4 2.42084L2.4 6.97254e-05L9.6 7.03603e-05V0H12V7.05719e-05V2.42084Z" fill="#00CAA7"/>
          </svg>
          </a>
        </div>
      </div>
      <img style="{{caseData.imageStyles}}" [ngClass]="{'fullImage': !caseData.fullImage}" [src]="caseData.caseImage" alt="">
    </div>
  </ng-container>
  <ng-container *ngIf="needExtraTabs">
    <div class="projects__block" [ngClass]="{'dark': caseItem.darkMode , 'products': caseItem.text}" [style.backgroundColor]="caseItem.background" *ngFor="let caseItem of caseDataSlider, let i = index" id="block-{{i}}">
      <div class="circle" style="{{caseItem.circle}}"></div>
      <div class="projects__block_content">
        <div class="projects__block__tags">
          <div class="tag" *ngFor="let tag of caseItem.caseTags">{{tag}}</div>
        </div>
        <h3>{{caseItem.caseTitle}}</h3>
        <p [innerText]="caseItem.text" *ngIf="caseItem.text"></p>
        <div class="flex">
          <a class="link" routerLink="{{caseItem.route}}">View case<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2.42084V9.68307H9.6L9.6 4.02874L1.69706 12.0001L0 10.2883L7.8 2.42084L2.4 2.42084L2.4 6.97254e-05L9.6 7.03603e-05V0H12V7.05719e-05V2.42084Z" fill="#00CAA7"/>
          </svg>
          </a>
          <a class="link" *ngIf="caseItem.product" routerLink="{{caseItem.route}}">Launch Project<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2.42084V9.68307H9.6L9.6 4.02874L1.69706 12.0001L0 10.2883L7.8 2.42084L2.4 2.42084L2.4 6.97254e-05L9.6 7.03603e-05V0H12V7.05719e-05V2.42084Z" fill="#00CAA7"/>
          </svg>
          </a>
        </div>
      </div>
      <img style="{{caseItem.imageStyles}}" [ngClass]="{'fullImage': !caseItem.fullImage}" [src]="caseItem.caseImage" alt="">
    </div>
  </ng-container>
  <div class="projects__all scrollbar" *ngIf="needExtraTabs">
    <div class="projects__wrapp">
      <div class="projects__all_single" *ngFor="let caseItem of caseData, let i = index;" id="case-{{i}}">
        <div class="projects__all_single-name" routerLink="{{caseItem.route}}">
          {{caseItem.shortTitle}}
        </div>
        <span>{{caseItem.caseTags.join()}}</span>
        <div class="line">
          <div class="line__filled"></div>
        </div>
      </div>
    </div>
  </div>
</section>
