<section class="blog-single">
  <a href="" class="back" routerLink="/expertises">
    <svg width="21" height="18" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M9.11736 18.0001L1.14441e-05 8.96124L2.25979 6.72092L2.2599 6.72102L9.03929 0L11.3186 2.25971L6.23421 7.30034L20.9862 7.36334L21 10.5454L6.05305 10.4815L11.3771 15.7598L9.11736 18.0001Z" fill="#00CAA7"/>
    </svg>
    All articles
  </a>
  <div class="blog-single__heading">
    <h2>Blockchain: What is it and what does it mean for insurance?</h2>
    <p>The introduction of artificial intelligence, data mining, virtual and augmented reality, blockchain, Neurotechnology and innovative solutions for your business.</p>
    <div class="blog-single__tags">
      <div class="tag">Retail & Distribution</div>
      <div class="tag">Big data and AI</div>
    </div>
  </div>
  <img src="/assets/images/blog.png" alt="">
  <div class="blog-single__text">
    <p>Fermentum, consectetur placerat vel risus. Aliquet turpis purus, ipsum et eget purus facilisi cras. Quam risus faucibus eu id egestas. Neque, porta non, venenatis nunc. Lectus porttitor condimentum viverra sapien aenean commodo magna et mi. A tellus aenean bibendum fringilla adipiscing.</p>
    <p>Duis sodales mauris, odio elit. Consectetur adipiscing convallis aliquam vitae praesent. Nisi risus pellentesque id lectus non nisl at in elementum. Dolor, viverra nunc nunc cras in et. Ut turpis in sit quisque congue. Dolor, lorem ipsum, turpis risus, sed fames platea.</p>
    <p>Eleifend turpis est rhoncus, egestas. Nascetur ac eleifend amet, vitae vel feugiat pulvinar. Arcu amet tincidunt scelerisque dui nulla. Eu a nunc, risus a mattis id volutpat. Hendrerit porttitor sed accumsan elit. Ullamcorper ante elementum, bibendum fermentum duis amet. Vel ut imperdiet cursus gravida imperdiet neque, quis congue et. Ullamcorper et vel nunc nunc integer gravida. Nec porta ut turpis vel. Mauris vestibulum, duis cursus urna, nunc sed. Gravida at tincidunt in in eu volutpat suspendisse vitae.</p>
    <p>Varius risus libero, facilisi commodo fames eget sit eros. Scelerisque egestas sed id nulla. Quam et eget porta purus. Euismod ullamcorper ullamcorper nisi sed urna. Egestas montes, pellentesque aliquet et fames at pellentesque libero sed. Faucibus a nisl, non mauris turpis purus pharetra augue volutpat. Sit faucibus blandit senectus ligula nulla leo leo nullam tempus. Rutrum maecenas curabitur est odio sapien, scelerisque turpis phasellus. Nibh nisl turpis cursus eros, ac. Sit vulputate facilisis ante et pellentesque ultrices dictumst a.</p>
    <p>Posuere metus mi ut lobortis pellentesque. Cursus in sit id eu odio proin curabitur adipiscing. Vitae sed dictum nulla nec amet netus lorem non ultrices. Lacinia ultrices diam lectus eu. Sapien nunc vivamus euismod urna maecenas ullamcorper praesent gravida eget. Quisque tellus cursus bibendum eget volutpat odio. Vestibulum eu amet aliquam adipiscing adipiscing. Massa scelerisque vivamus vel tincidunt sit vitae ullamcorper massa.</p>
  </div>
  <a href="" class="link">
    Read next article
    <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M40 8.56991V32.7771H32L32 13.9286L5.65685 40.4997L0 34.7939L25.999 8.5699L8 8.5699L8 0.50068L32 0.500682V0.500244H40V0.500683V8.56991Z" fill="#00CAA7"/>
    </svg>
  </a>
</section>
<app-blog-section></app-blog-section>
