<section class="blog-single" *ngIf="data">
  <a href="" class="back" routerLink="/blog">
    <svg width="21" height="18" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M9.11736 18.0001L1.14441e-05 8.96124L2.25979 6.72092L2.2599 6.72102L9.03929 0L11.3186 2.25971L6.23421 7.30034L20.9862 7.36334L21 10.5454L6.05305 10.4815L11.3771 15.7598L9.11736 18.0001Z" fill="#00CAA7"/>
    </svg>
    All articles
  </a>
  <div class="blog-single__heading">
    <h2>{{data.title_eng}}</h2>
<!--    <p>The introduction of artificial intelligence, data mining, virtual and augmented reality, blockchain, Neurotechnology and innovative solutions for your business.</p>-->
    <div class="blog-single__tags">
      <div class="tag light" *ngFor="let tag of data.cats">{{tag}}</div>
    </div>
  </div>
  <img src="https://allatrack.com/uploads/news/images/{{data.image}}" alt="">
  <div class="blog-single__text" [innerHTML]="data.description_eng">

  </div>
  <a class="link" (click)="readNext()">
    Read next article
    <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M40 8.56991V32.7771H32L32 13.9286L5.65685 40.4997L0 34.7939L25.999 8.5699L8 8.5699L8 0.50068L32 0.500682V0.500244H40V0.500683V8.56991Z" fill="#00CAA7"/>
    </svg>
  </a>
</section>
<app-blog-section [mainArticle]="false" [data]="news | slice:0:3"></app-blog-section>
