<section class="expertise">
  <div class="circle"></div>
  <div class="container">
    <a href="" class="back" routerLink="/expertises">
      <svg width="21" height="18" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.11736 18.0001L1.14441e-05 8.96124L2.25979 6.72092L2.2599 6.72102L9.03929 0L11.3186 2.25971L6.23421 7.30034L20.9862 7.36334L21 10.5454L6.05305 10.4815L11.3771 15.7598L9.11736 18.0001Z" fill="#00CAA7"/>
      </svg>
      All Expertise
    </a>
    <h1>
      Business intelligence
    </h1>
    <p>Lectus risus sed orci, at at mauris venenatis faucibus massa. Velit eu viverra est ridiculus pellentesque sem pellentesque commodo eget.</p>
    <div class="expertise__buttons">
      <button class="green-btn">Contact us</button>
      <a href="" class="link">
        Download pdf
        <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M6.77351 15.7735L1.63834 10.6383L3.33539 8.94126L7.3336 12.9395L7.28525 1.71467L9.69563 1.72505L9.74336 12.8036L13.5617 8.98527L15.2735 10.697L10.1823 15.7882L10.1824 15.7882L8.4853 17.4853L8.48525 17.4852L6.77351 15.7735Z" fill="#00CAA7"/>
        </svg>
      </a>
    </div>
  </div>
</section>
<section class="expertise-description">
  <div class="expertise-description__block">
    <div class="expertise-description__block_wrap">
      <h2>Result of usage</h2>
      <p>Allatrack is a young and progressive IT company that provides a full range of services in the field of data analysis and software development of any complexity. To each client an individual approach, depending on the specifics of the business.</p>
    </div>
    <div class="expertise-description__block_wrap">
      <div class="expertise-description__block_single">
        <div class="expertise-description__block_wrap">
          <span>Minimizing costs</span>
          <p>Help build a team or pick a ready-made team</p>
        </div>
        <div class="expertise-description__block_wrap">
          <span>Advantages for negotiation</span>
          <p>Help build a team or pick a ready-made team</p>
        </div>
      </div>
      <div class="expertise-description__block_single">
        <div class="expertise-description__block_wrap">
          <span>Making decisions</span>
          <p>Help build a team or pick a ready-made team</p>
        </div>
        <div class="expertise-description__block_wrap">
          <span>Indication of weaknesses</span>
          <p>Help build a team or pick a ready-made team</p>
        </div>
      </div>
    </div>
   </div>
  <div class="expertise-description__contact">
    <h3>Trasnform your data into inteligent that drivers sales, with allatrack</h3>
    <button class="green-btn">
      Contact us
      <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2.42105V9.68307H9.6L9.6 4.02858L1.69706 11.9999L0 10.2882L7.79962 2.42105L2.4 2.42105L2.4 0.000280487L9.6 0.000281122V0H12V0.000281334V2.42105Z" fill="#FAFAFA"/>
      </svg>
    </button>
  </div>
  <app-three-columned-block></app-three-columned-block>
</section>
<app-blog-section></app-blog-section>
<app-cases></app-cases>
