<section class="expertise">
  <div class="circle"></div>
  <div class="container">
    <h1>
      Business intelligence
    </h1>
    <p>Lectus risus sed orci, at at mauris venenatis faucibus massa. Velit eu viverra est ridiculus pellentesque sem pellentesque commodo eget.</p>
    <div class="expertise__buttons">
      <button class="green-btn">Contact us</button>
      <a href="" class="link">
        Download pdf
        <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M6.77351 15.7735L1.63834 10.6383L3.33539 8.94126L7.3336 12.9395L7.28525 1.71467L9.69563 1.72505L9.74336 12.8036L13.5617 8.98527L15.2735 10.697L10.1823 15.7882L10.1824 15.7882L8.4853 17.4853L8.48525 17.4852L6.77351 15.7735Z" fill="#00CAA7"/>
        </svg>
      </a>
    </div>
  </div>
</section>
<app-blog-section></app-blog-section>
<app-cases></app-cases>
