<section class="expertise"
         [style.backgroundColor]="backgroundColor ? backgroundColor : ''">
  <div class="circle" *ngIf="needCircle"
       [style.top]="top ? top : '160px'"
       [style.right]="right ? right : '20px'"
  ></div>
  <div class="container"
       [ngClass]="{'hashtag': hashtag}"
       [style.padding-bottom]="containerPadding ? containerPadding : '166px'">
    <a href="" class="back" routerLink="/{{buttonLink}}" *ngIf="needBackButton">
      <svg width="21" height="18" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.11736 18.0001L1.14441e-05 8.96124L2.25979 6.72092L2.2599 6.72102L9.03929 0L11.3186 2.25971L6.23421 7.30034L20.9862 7.36334L21 10.5454L6.05305 10.4815L11.3771 15.7598L9.11736 18.0001Z" fill="#00CAA7"/>
      </svg>
      {{needBackButton}}
    </a>
    <h1>
      {{title}} <span *ngIf="hashtag" class="hashtag">{{hashtag}}</span>
    </h1>
    <p
      [style.width]="hashtag ? '50%' : '80%'">
      Lectus risus sed orci, at at mauris venenatis faucibus massa. Velit eu viverra est ridiculus pellentesque sem pellentesque commodo eget.</p>
    <div class="expertise__buttons">
      <button class="green-btn" *ngIf="hasContactButton">Contact us</button>
      <a href="" class="link" *ngIf="hasDownloadButton">
        Download pdf
        <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M6.77351 15.7735L1.63834 10.6383L3.33539 8.94126L7.3336 12.9395L7.28525 1.71467L9.69563 1.72505L9.74336 12.8036L13.5617 8.98527L15.2735 10.697L10.1823 15.7882L10.1824 15.7882L8.4853 17.4853L8.48525 17.4852L6.77351 15.7735Z" fill="#00CAA7"/>
        </svg>
      </a>
    </div>
    <div class="bottom_social" *ngIf="hasSocial">
      <img src="/assets/images/linkedin.svg" alt="linkedin">
      <img src="/assets/images/twitter.svg" alt="twitter">
      <img src="/assets/images/fb.svg" alt="fb">
      <img src="/assets/images/instagram.svg" alt="instagram">
      <img src="/assets/images/dribble.svg" alt="dribble">
      <img src="/assets/images/behance.svg" alt="behance">
    </div>
  </div>
  <app-form *ngIf="needForm"></app-form>
</section>

