.contacts
  display: flex
  &__block
    display: flex
    flex-direction: column
    margin-left: 168px
    width: 29%
    margin-top: 74px
    h1
      font-family: Oswald, sans-serif
      font-style: normal
      font-weight: bold
      font-size: 40px
      line-height: 59px
      letter-spacing: 0.04em
      text-transform: uppercase
      color: #1D1D1F
      margin-bottom: 24px
    p
      font-family: Archivo, sans-serif
      font-style: normal
      font-weight: 500
      font-size: 14px
      line-height: 28px
      color: #000000
      margin-bottom: 20px

