<section class="expertise">
  <div class="circle"></div>
  <div class="container">
    <a href="" class="back" routerLink="/cases">
      <svg width="21" height="18" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.11736 18.0001L1.14441e-05 8.96124L2.25979 6.72092L2.2599 6.72102L9.03929 0L11.3186 2.25971L6.23421 7.30034L20.9862 7.36334L21 10.5454L6.05305 10.4815L11.3771 15.7598L9.11736 18.0001Z" fill="#00CAA7"/>
      </svg>
      all Cases
    </a>
    <h1>
      Eskulabs
    </h1>
    <div class="tags__wrapper">
      <div class="tag">iOs</div>
      <div class="tag">Android</div>
      <div class="tag">Design</div>
      <div class="tag">AI</div>
    </div>
    <div class="expertise__buttons">
      <button class="green-btn">Estimate your Project</button>
      <a href="" class="link">
        Launch Project
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2.42084V9.68307H9.6L9.6 4.02874L1.69706 12.0001L0 10.2883L7.8 2.42084L2.4 2.42084L2.4 6.97254e-05L9.6 7.03603e-05V0H12V7.05719e-05V2.42084Z" fill="#00CAA7"/>
        </svg>
      </a>
    </div>
  </div>
  <div class="exp-image">
    <img src="/assets/images/eskulabs.png" alt="">
  </div>
</section>

<app-heading
  [backgroundColor]="'#F8F8F8'"
  [top]="'120px'"
  [right]="'200px'"
  [title]="'Eskulabs'"
  [needSocial]="false"
  [hasSocial]="false"
  [hasLaunchButton]="true"
  [hasTags]="true"
  [hasContactButton]="'Estimate your project'"
  [needBackButton]="'all Cases'"
  [centered]="true"
>
</app-heading>
<div class="section flex">
  <h2 class="centered">
    Non-invasive diagnosis
  </h2>
  <div class="half-section">
    <h5>Definition</h5>
    <p class="centered">
      Non-invasive diagnostics - research or treatment, during which the skin is not affected by needles or various surgical instruments (Ultrasound and other devices based on the use of sensor and signal transmitting devices)
    </p>
  </div>
  <div class="half-section">
    <h5>The risks</h5>
    <h6>Interpretation of data from survey images</h6>
    <p class="centered">
      Often there are times when several specialists give out several different interpretations and descriptions for the same ultrasound images.
    </p>
    <h6>Error in the use of medical equipment</h6>
    <p class="centered">
      For example, depending on the correctness of the determination by the ultrasound operator of the apparatus of the boundaries of the tumor (determined manually), the calculation of the size of the tumor may be erroneous. As a result of an incorrect calculation of the tumor size, the diagnosis may be different.
    </p>
  </div>
</div>
<div class="section flex">
  <div class="half-section">
    <h5>Decision</h5>
    <p class="centered">
      Creation of an information platform for the quality control of non-invasive medical diagnostics
    </p>
  </div>
  <div class="half-section">
    <h5>SoftData Approach</h5>
    <h6>Step 1. Pre-filter data using information systems</h6>
    <p class="centered">
      Comparison of the doctor’s examination protocol with the examination results carried out by the Esculabs information system based on neural networks
    </p>
    <h6>Step 2. Expert opinion</h6>
    <p class="centered">
      In case of discrepancy between the results of the doctor’s examination and the SoftData information system, appeal to experts for a third-party opinion (any expert authorized and having access to the system can give a conclusion anywhere in the world.
    </p>
  </div>
</div>
<div class="section flex">
  <h2 class="centered">Research on liver fibrosis</h2>
  <div class="half-section">
    <img class="single" src="/assets/images/eskulabs1.png" alt="">
  </div>
  <div class="half-section">
    <p class="centered">
      The data from fibroscans in 4 hepatocenters in the Republic of Kazakhstan for the period September 2013 - July 2015 were analyzed.
    </p>
    <p class="centered">
      An average of 30% of incorrect examinations was revealed as a result of not following the inspection regulations and making errors when using medical equipment
    </p>
  </div>
</div>
<div class="section flex">
  <h2 class="centered">Error Examples</h2>
  <div class="half-section">
    <img class="single" src="/assets/images/eskulabs2.png" alt="">
  </div>
  <div class="half-section aligned">
    <h6>
      Echogenicity scale.
    </h6>
    <p class="centered">
      The error mainly arises due to the degree of lubrication by the gel and the correct installation of the sensor (location).
    </p>
  </div>
  <div class="half-section aligned">
    <h6>
      The overestimated value of the elasticity of the liver.
    </h6>
    <p class="centered">
      The error mainly arises as a result of grazing the sensor on the edge.
    </p>
  </div>
  <div class="half-section">
    <img class="single" src="/assets/images/eskulabs3.png" alt="">
  </div>
  <div class="half-section">
    <img class="single" src="/assets/images/eskulabs4.png" alt="">
  </div>
  <div class="half-section aligned">
    <h6>
      Echogenicity scale.
    </h6>
    <p class="centered">
      The error mainly occurs due to incorrect sensor installation
    </p>
  </div>
  <div class="half-section aligned">
    <h6>
      The overestimated value of the elasticity of the liver.
    </h6>
    <p class="centered">
      The error mainly occurs due to incorrect sensor installation
    </p>
  </div>
  <div class="half-section">
    <img class="single" src="/assets/images/eskulabs5.png" alt="">
  </div>
</div>
<div class="section flex">
  <h2 class="centered half">Demonstration of the system
    Screening for liver fibrosis</h2>
  <img class="cases-image" src="/assets/images/eskulabs6.png" alt="">
  <div class="half-section aligned">
    <h6>
      Patient Measurement List
    </h6>
    <p class="centered">
      Patient Measurement List
    </p>
  </div>
  <div class="half-section">
    <img class="single" src="/assets/images/eskulabs77.png" alt="">
  </div>
  <div class="half-section">
    <img class="single" src="/assets/images/eskulabs88.png" alt="">
  </div>
  <div class="half-section aligned">
    <h6>
      Measurement Detailing
    </h6>
    <p class="centered">
      The contours indicate the reason for the measurement error.
    </p>
  </div>
</div>
<div class="section flex">
  <h2 class="centered half">System scaling and economic effect</h2>
  <div class="half-section">
    <p class="centered">
      Subject to the dynamics of incorrect diagnostics (6.6% at stages F3, F4) <b>the risk of misallocation of the budget.</b>
    </p>
    <p class="centered">
      <b>The information system has the ability to scale to other nosologies subsidized by the state.</b>
    </p>
  </div>
  <div class="half-section">
    <div class="case-item">
      <img src="/assets/images/eskulabs7.png" alt="">
      <p>Segmentation of MRI and ultrasound images</p>
    </div>
    <div class="case-item">
      <img src="/assets/images/eskulabs8.png" alt="">
      <p>Automatic detection of diabetic retinopathy</p>
    </div>
    <div class="case-item">
      <img src="/assets/images/eskulabs9.png" alt="">
      <p>Mammalogy</p>
    </div>
    <div class="case-item">
      <img src="/assets/images/eskulabs99.png" alt="">
      <p>Speckle laser pattern analysis Speckle laser pattern analysis</p>
    </div>
  </div>
</div>
<app-tabs-block [heading]="'Stack'"></app-tabs-block>
<a href="" class="big-link link">View next case<svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M40 8.56966V32.7769H32L32 13.9283L5.65685 40.4994L0 34.7936L25.999 8.56966L8 8.56966L8 0.500436L32 0.500438V0.5H40V0.500439V8.56966Z" fill="#00CAA7"/>
</svg>
</a>
<app-cases [title]="'Other cases'" [needExtraTabs]="true"></app-cases>



