<div class="slider">
  <div class="circle-wrap">
    <div class="circle"></div>
  </div>
  <div class="slider__heading">
    <div class="slider__heading_descr">
      <h2 class="white">How we delivery it</h2>
      <p>The introduction of artificial intelligence, data mining, virtual and augmented reality, blockchain, Neurotechnology and innovative solutions for your business.</p>
    </div>
    <img src="/assets/images/exp1.png" alt="">
  </div>
  <div class="slider__content">
    <div class="slider__content_single" [ngClass]="{'active': firstStep}">
      <span class="slider__content_single-number">01</span>
      <div class="line">
        <div class="line__filled"></div>
      </div>
      <h3 class="white">First step title</h3>
      <p>Allatrack is a young and progressive IT company that provides a full range of services in the field of data analysis and software development of any complexity.</p>
    </div>
    <div class="slider__content_single" [ngClass]="{'active': secondStep}">
      <span class="slider__content_single-number">02</span>
      <div class="line">
        <div class="line__filled"></div>
      </div>
      <h3 class="white">Second step title</h3>
      <p>Allatrack is a young and progressive IT company that provides a full range of services in the field of data analysis and software development of any complexity.</p>
    </div>
    <div class="slider__content_single" [ngClass]="{'active': thirdStep}">
      <span class="slider__content_single-number">03</span>
      <div class="line">
        <div class="line__filled"></div>
      </div>
      <h3 class="white">Third step title</h3>
      <p>Allatrack is a young and progressive IT company that provides a full range of services in the field of data analysis and software development of any complexity.</p>
    </div>
    <div class="slider__content_single" [ngClass]="{'active': fourthStep}">
      <span class="slider__content_single-number">04</span>
      <div class="line">
        <div class="line__filled"></div>
      </div>
      <h3 class="white">Fourth step title</h3>
      <p>Allatrack is a young and progressive IT company that provides a full range of services in the field of data analysis and software development of any complexity.</p>
    </div>
  </div>

</div>
