<div class="slider">
  <div class="circle-wrap">
    <div class="circle"></div>
  </div>
  <div class="slider__heading">
    <div class="slider__heading_descr">
      <h2 class="white">{{title}}</h2>
      <p *ngIf="description">The introduction of artificial intelligence, data mining, virtual and augmented reality, blockchain, Neurotechnology and innovative solutions for your business.</p>
    </div>
    <img *ngIf="image" src="/assets/images/exp1.png" alt="">
    <a *ngIf="needLink" class="link" >Company overview<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2.42084V9.68307H9.6L9.6 4.02874L1.69706 12.0001L0 10.2883L7.8 2.42084L2.4 2.42084L2.4 6.97254e-05L9.6 7.03603e-05V0H12V7.05719e-05V2.42084Z" fill="#00CAA7"/>
    </svg>
    </a>
  </div>
  <div class="slider__wrap scrollbar">
    <div class="slider__content">
      <div class="slider__content_single" [ngClass]="{'active': firstStep}">
        <span class="slider__content_single-number">01</span>
        <div class="line">
          <div class="line__filled"></div>
        </div>
        <h3 class="white">First step title</h3>
        <p>Allatrack is a young and progressive IT company that provides a full range of services in the field of data analysis and software development of any complexity.</p>
      </div>
      <div class="slider__content_single" [ngClass]="{'active': secondStep}">
        <span class="slider__content_single-number">02</span>
        <div class="line">
          <div class="line__filled"></div>
        </div>
        <h3 class="white">Second step title</h3>
        <p>Allatrack is a young and progressive IT company that provides a full range of services in the field of data analysis and software development of any complexity.</p>
      </div>
      <div class="slider__content_single" [ngClass]="{'active': thirdStep}">
        <span class="slider__content_single-number">03</span>
        <div class="line">
          <div class="line__filled"></div>
        </div>
        <h3 class="white">Third step title</h3>
        <p>Allatrack is a young and progressive IT company that provides a full range of services in the field of data analysis and software development of any complexity.</p>
      </div>
      <div class="slider__content_single" [ngClass]="{'active': fourthStep}">
        <span class="slider__content_single-number">04</span>
        <div class="line">
          <div class="line__filled"></div>
        </div>
        <h3 class="white">Fourth step title</h3>
        <p>Allatrack is a young and progressive IT company that provides a full range of services in the field of data analysis and software development of any complexity.</p>
      </div>
    </div>
  </div>
</div>
