.slider
  display: flex
  flex-direction: column
  margin: 0 40px 200px 40px
  padding: 120px 110px
  background: #171C2C
  border-radius: 8px
  position: relative
  overflow: hidden
  .circle-wrap
    width: 100%
    height: 100%
    filter: blur(100px)
    -webkit-filter: blur(100px)
    -ms-filter: blur(100px)
    position: absolute
    z-index: 50
    right: 0
    top: 0
    bottom: 0
    left: 0
    .circle
      background-image: url("/assets/images/giphy2.gif")
      background-repeat: no-repeat
      opacity: 0.4
      border-radius: 100%
      background-size: 625px 625px
      width: 632px
      height: 632px
      box-shadow: inset 0px 0px 40px 40px #171C2C
      text-shadow: 0 0 20px
      color: transparent
  &__heading
    z-index: 100
    display: flex
    margin-bottom: 40px
    justify-content: space-between
    &_descr
      display: flex
      flex-direction: column
      width: 35%
      h2
        margin-bottom: 40px
      p
        font-family: Archivo, sans-serif
        font-style: normal
        font-weight: normal
        font-size: 16px
        line-height: 28px
        letter-spacing: 0.04em
        color: #9F9FA0
    img
      object-fit: cover
      object-position: center
      border-radius: 8px
      width: 614px
      height: 284px
  &__content
    z-index: 100
    display: flex
    justify-content: space-between
    &_single
      display: flex
      flex-direction: column
      width: 18%
      transition: all .3s
      position: relative
      margin-bottom: 100px
      &.active
        width: 36%
        transition: all .7s
        p
          opacity: 1
          transition: opacity .3s
          transition-delay: .7s
          visibility: visible
        h3
          color: white
        .line__filled
          animation: mymove 5s linear
          display: flex
      .line
        width: 100%
        height: 1px
        margin-bottom: 16px
        position: relative
        background-color: #747780
        overflow: hidden
        &__filled
          background-color: white
          height: 1px
          width: 100%
          display: none
      &-number
        font-family: Archivo, sans-serif
        font-style: normal
        font-weight: bold
        font-size: 14px
        line-height: 28px
        letter-spacing: 0.04em
        color: #9F9FA0
      h3
        color: #9F9FA0
        margin-bottom: 16px
      p
        font-family: Archivo, sans-serif
        font-style: normal
        font-weight: normal
        font-size: 14px
        line-height: 28px
        letter-spacing: 0.04em
        color: #9F9FA0
        opacity: 0
        visibility: hidden
        position: absolute
        bottom: -84px


@keyframes mymove
  from
    transform: translateX(-100%)
  to
    transform: translateX(0%)
