<div class="expertise-description__contact">
  <h3>Trasnform your data into inteligent that drivers sales, with allatrack</h3>
  <button class="green-btn">
    Contact us
    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2.42105V9.68307H9.6L9.6 4.02858L1.69706 11.9999L0 10.2882L7.79962 2.42105L2.4 2.42105L2.4 0.000280487L9.6 0.000281122V0H12V0.000281334V2.42105Z" fill="#FAFAFA"/>
    </svg>
  </button>
</div>
