@import "../../../../mixins.sass"

.expertise-description__contact
  margin: 0 150px 120px 150px
  background: #F6F6F6
  border-radius: 8px
  display: flex
  justify-content: space-between
  align-items: center
  padding: 80px 120px
  @include small-desktop
    margin: 0
    padding: 80px 40px
  h3
    font-family: 'Oswald Medium', sans-serif
    font-style: normal
    font-weight: 500
    font-size: 24px
    line-height: 36px
    text-transform: uppercase
    color: #1D1D1F
    width: 60%
    @include small-desktop
      width: 65%
  @include small-desktop
  .green-btn
    width: 28%
  svg
    margin-left: 16px
