<footer class="footer">
  <div class="container" *ngIf="!light">
    <div class="footer__wrapp">
      <a routerLink="/" class="logo white">Allatrack</a>
      <div class="footer__social">
        <img src="/assets/images/linkedin.svg" alt="linkedin">
        <img src="/assets/images/twitter.svg" alt="twitter">
        <img src="/assets/images/fb.svg" alt="fb">
        <img src="/assets/images/instagram.svg" alt="instagram">
        <img src="/assets/images/dribble.svg" alt="dribble">
        <img src="/assets/images/behance.svg" alt="behance">
      </div>
    </div>
    <div class="footer__form">
      <div class="footer__form_header">
        <h2>Feel free to start, and watch as you grow</h2>
        <p>Lectus risus sed orci, at at mauris venenatis faucibus massa. Velit eu viverra est ridiculus pellentesque sem pellentesque commodo eget. </p>
      </div>
      <div class="footer__form_block">
        <span class="footer__form_block-name">Contact</span>
        <a href="tel:+4525943933" class="footer__form_block-info link">
          +45 2594 3933
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M16 3.22786L16 12.9108H12.8L12.8 5.37133L2.26274 15.9998L0 13.7174L10.3996 3.22786L3.2 3.22786L3.2 0.000174347L12.8 0.000175194V0H16V0.000175476V3.22786Z" fill="#00CAA7"/>
          </svg>
        </a>
        <a href="mailto:hello@allatrack.com" class="footer__form_block-info link">
          hello@allatrack.com
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M16 3.22786L16 12.9108H12.8L12.8 5.37133L2.26274 15.9998L0 13.7174L10.3996 3.22786L3.2 3.22786L3.2 0.000174347L12.8 0.000175194V0H16V0.000175476V3.22786Z" fill="#00CAA7"/>
          </svg>
        </a>
      </div>
      <app-form [isFooter]="true" [isShort]="true"></app-form>
    </div>
    <div class="footer__nav">
      <div class="footer__nav_block" (click)="openSection('services')" [ngClass]="{'open': openServices}">
        <span class="footer__nav_block-head">Services
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M9 0L7 0V7H0L0 9H7V16H9V9H16V7H9V0Z" fill="#00CAA7"/>
        </svg>
        </span>
        <ul>
          <li>Extend your team</li>
          <li>Build your idea</li>
          <li>Manage your service</li>
          <li>Software Product Development</li>
          <li>Mobile Application Development</li>
          <li>Web services development</li>
          <li>Extended Reality (AR / VR)</li>
          <li>R&D and innovation</li>
          <li>Software QA & Testing</li>
          <li>Technical Support</li>
        </ul>
      </div>
      <div class="footer__nav_block" (click)="openSection('expertise')" [ngClass]="{'open': openExpertise}">
        <span class="footer__nav_block-head">Expertise
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M9 0L7 0V7H0L0 9H7V16H9V9H16V7H9V0Z" fill="#00CAA7"/>
        </svg>
        </span>
        <ul>
          <li>Blockchain (DLT)</li>
          <li>Extended Reality (AR / VR)</li>
          <li>Cognitive Computing (AI / ML)</li>
          <li>Internet of Things (IoT)</li>
          <li>Customer Experience (UX / UI)</li>
          <li>Cloud & DevOps</li>
        </ul>
      </div>
      <div class="footer__nav_block" (click)="openSection('company')" [ngClass]="{'open': openCompany}">
        <span class="footer__nav_block-head">Company
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M9 0L7 0V7H0L0 9H7V16H9V9H16V7H9V0Z" fill="#00CAA7"/>
        </svg>
        </span>
        <ul>
          <li>About us</li>
          <li>Company overview</li>
          <li>Process</li>
          <li>Our product</li>
        </ul>
      </div>
      <div class="footer__nav_block" (click)="openSection('blog')" [ngClass]="{'open': openBlog}">
        <span class="footer__nav_block-head">Blog
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M9 0L7 0V7H0L0 9H7V16H9V9H16V7H9V0Z" fill="#00CAA7"/>
        </svg>
        </span>
        <ul>
          <li>SoftData -> Allatrack</li>
          <li>10 Big Financial Technology Trends for 2018</li>
          <li>5 Ways Banks Can Benefit From Blockchain Technology</li>
          <li>The Future Of Data In Banking</li>
        </ul>
      </div>
      <div class="footer__nav_block" (click)="openSection('case')" [ngClass]="{'open': openCase}">
          <span class="footer__nav_block-head">Case studies
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M9 0L7 0V7H0L0 9H7V16H9V9H16V7H9V0Z" fill="#00CAA7"/>
          </svg>
          </span>
          <ul>
            <li>The Blockchain-TFA application helps you pass through 2-step verification.</li>
            <li>Model of AR Consultant</li>
            <li>AR Coloring book</li>
          </ul>
        </div>
    </div>
  </div>
  <div class="footer__light">
    <span class="footer__copyright">Allatrack @2020. All right reserved</span>
    <div class="footer__light_links">
      <a href="">Confidential</a>
      <a href="">Public offers</a>
      <a href="">Privacy & Policy</a>
      <a href="">Terms & conditions</a>
    </div>
  </div>
</footer>
