@import "../../../../mixins.sass"

.footer
  display: flex
  flex-direction: column
  margin: 0 40px 8px 40px
  @include small-desktop
    margin: 0 16px 8px 16px
  .container
    padding: 80px 110px 40px 110px
    background: #171C2C
    border-radius: 8px
    @include small-desktop
      padding: 40px 24px 0 24px
    @include mobile
      padding: 40px 8px
  &__wrapp
    display: flex
    justify-content: space-between
    @include small-desktop
      margin: 0 24px
    @include mobile
      margin: 0 5%
  &__social
    display: flex
    align-items: center
    img
      margin-left: 20px
      @include mobile
        margin-left: 16px
  &__form
    background: #4545FB
    border-radius: 8px
    margin: 40px 0 80px 0
    padding: 40px
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    @include small-desktop
      padding: 40px 24px
    @include mobile
      margin-bottom: 40px
    &_header
      width: 100%
      display: flex
      justify-content: space-between
      align-items: center
      margin-bottom: 40px
      @include small-desktop
        align-items: flex-start
      @include mobile
        flex-direction: column
        justify-content: center
        align-items: center
      h2
        width: 41%
        color: #FFFFFF
        @include small-desktop
          width: 50%
        @include mobile
          width: 100%
      p
        width: 41%
        font-family: Archivo, sans-serif
        font-style: normal
        font-weight: 500
        font-size: 14px
        line-height: 28px
        color: #FFFFFF
        @include small-desktop
          width: 43%
        @include mobile
          display: none
    &_block
      width: 41%
      display: flex
      flex-direction: column
      @include small-desktop
        width: 50%
      @include mobile
        width: 100%
        margin-bottom: 16px
      &-name
        font-family: Archivo, sans-serif
        font-style: normal
        font-weight: 600
        font-size: 12px
        line-height: 13px
        letter-spacing: 0.04em
        color: #FFFFFF
        opacity: 0.4
        margin-bottom: 24px
      &-info
        font-size: 24px
        margin-bottom: 24px
        color: white
        @include mobile
          font-size: 22px
      form
        width: 100%
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        input, textarea
          background: rgba(255, 255, 255, 0.8)
          border-radius: 4px
          padding: 15px 24px
          font-family: Archivo, sans-serif
          font-style: normal
          font-weight: 500
          font-size: 14px
          line-height: 140%
          color: black
          outline: none
          border: none
          margin-bottom: 16px
          width: 49%
          box-sizing: border-box
          &::placeholder
            font-family: Archivo, sans-serif
            font-style: normal
            font-weight: 500
            font-size: 14px
            line-height: 140%
            color: #9F9FA0
        textarea
          width: 100%
          max-width: 100%
          min-width: 100%
          height: 90px
          min-height: 90px
          max-height: 90px
        label
          font-family: Archivo, sans-serif
          font-style: normal
          font-weight: 500
          font-size: 14px
          line-height: 140%
          text-align: center
          text-decoration-line: underline
          color: #FFFFFF
          display: flex
          align-items: center
          margin-bottom: 26px
          svg
            margin-right: 8px
        button
          width: 100%
          border-radius: 4px
  &__nav
    display: flex
    justify-content: space-between
    @include small-desktop
      flex-wrap: wrap
      justify-content: flex-start
    @include mobile
      margin: 0 16px
    &_block
      display: flex
      flex-direction: column
      @include small-desktop
        width: 33%
      @include mobile
        width: 100%
        border-top: 1px solid rgba(255, 255, 255, 0.4)
        padding-top: 16px
        &.open
          ul
            display: flex
          span
            svg
              transform: rotate(135deg)
              transition: all .3s
      span
        font-family: Oswald, sans-serif
        font-style: normal
        font-weight: 500
        font-size: 16px
        line-height: 24px
        text-transform: uppercase
        color: #FFFFFF
        margin-bottom: 24px
        display: flex
        justify-content: space-between
        align-items: center
        @include mobile
          margin-bottom: 16px
        svg
          display: none
          @include mobile
            display: flex

      ul
        display: flex
        flex-direction: column
        max-width: 208px
        @include small-desktop
          margin-bottom: 40px
        @include mobile
          margin-bottom: 24px
          display: none
        li
          cursor: pointer
          font-family: Archivo, sans-serif
          font-style: normal
          font-weight: 500
          font-size: 14px
          line-height: 200%
          color: #FFFFFF
          opacity: 0.4
          transition: all .3s
          &:hover
            transition: all .3s
            opacity: 100%


  &__copyright
    font-family: Archivo, sans-serif
    font-style: normal
    font-weight: 500
    font-size: 12px
    line-height: 200%
    color: #9F9FA0
    margin: 0
  &__light
    display: flex
    justify-content: space-between
    align-items: center
    margin: 8px 150px 0 150px
    @include small-desktop
      margin: 8px 24px 0 24px
    @include mobile
      flex-direction: column
      margin: 8px 24px 0 24px
    &_links
      display: flex
      @include mobile
        flex-wrap: wrap
        justify-content: space-around
      a
        font-family: Archivo, sans-serif
        font-style: normal
        font-weight: 500
        font-size: 12px
        line-height: 200%
        text-align: right
        text-decoration-line: underline
        color: #9F9FA0
        margin-left: 24px
        @include mobile
          margin-left: 0
app-form
  @include small-desktop
    width: 43%
  @include mobile
    width: 100%
